@font-face
{
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue-Roman.eot');
	src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'), url('../fonts/HelveticaNeue-Roman.woff') format('woff'), url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*#body-row {
    margin-left:0;
    margin-right:0;
}*/
body
{
	color: #6c6c6c;
	font-size: 14px;
	font-family: 'Helvetica Neue';
}
a, a:hover
{
	color: #1b364f;
	text-decoration: none;
}
.page-content { margin-top: 50px; }
.btn-outline-primary
{
	color: #1b364f;
	border-color: #1b364f;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
	color: #fff;
	background-color: #ab0d3e;
	border-color: #ab0d3e;
}
.btn-outline-primary:hover, .btn.focus, .btn:focus, .btn-primary:hover
{
	color: #fff;
	background-color: #ab0d3e;
	border-color: #ab0d3e;
	box-shadow: none;
	outline: 0 none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus { box-shadow: none; }
.btn-primary
{
	color: #fff;
	background-color: #ab0d3e;
	border-color: #ab0d3e;
}
.sidebar-expanded .collapse-icon, .sidebar-collapsed .collapse-icon
{
	font-size: 24px;
	color: #1b364f;
}
#sidebar-container
{
	min-height: 100vh;
	background-color: #fff;
	padding: 0;
}
#sidebar-container .list-group-item
{
	position: relative;
	display: block;
	padding: .5rem .8rem;
	margin-bottom: 0;
	background-color: #fff;
	border: 0 none rgba(0,0,0,0);
}
#sidebar-container .list-group-item:first-child
{
	border-bottom: 0 none;
	height: 36px;
}
#sidebar-container .list-group-item.logo:first-child .menu-collapsed img
{
	width: 150px;
	height: auto;
}
#sidebar-container .list-group-item-action
{
	color: #6c6c6c;
	font-size: 14px;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded
{
	width: 250px;
	transition: 0.5s;
}
.sidebar-collapsed
{
	width: 60px;
	transition: 0.5s;
}
.sidebar-expanded a div { justify-content: start; }
.sidebar-collapsed a div { justify-content: center; }
.sidebar-expanded .collapse-icon { margin-left: 130px; }
/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a
{
	height: 45px;
	padding-left: 30px;
}
.sidebar-submenu { font-size: 0.9rem; }
#sidebar-container .list-group-item .menu-item
{
	width: 33px;
	height: 33px;
	line-height: 24px;
	margin-right: 20px;
}
#sidebar-container .list-group-item:hover, #sidebar-container .list-group-item.active
{
	background: #1b364f;
	color: #fff;
}
#sidebar-container .list-group-item:first-child:hover { background: transparent; }
#sidebar-container.sidebar-collapsed .list-group-item .menu-item { margin-right: 0; }
#sidebar-container .list-group-item.logo span:first-child
{
	width: auto;
	height: auto;
}
/* Separators */
.sidebar-separator-title
{
	background-color: #333;
	height: 35px;
}
.sidebar-separator
{
	background-color: #333;
	height: 25px;
}
.logo-separator
{
	background-color: #333;
	height: 60px;
}
/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after
{
	content: "\f0d7";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after
{
	content: " \f0da";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}
.form-control-dark
{
	color: #fff;
	background-color: #f3f6fd;
	border-color: #f3f6fd;
}
.form-control-dark:focus
{
	border-color: #f3f6fd;
	box-shadow: none;
}
.form-search, .form-search .form-control
{
	height: 65px;
	background: #fff;
	border-color: #fff;
	position: relative;
}
.form-search .form-control, .form-search .form-control:focus
{
	background: url(../images/search.png) no-repeat 30px center;
	padding-left: 80px;
	font-size: 24px;
	outline: 0 none;
	box-shadow: none;
	border-color: #f3f6fd;
}
.main-content { background-color: #ededed; }
.profile-photo
{
	overflow: hidden;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin: 0 20px 0 0;
}
#sidebar-container .list-group-item-action.profile-item { border-bottom: none 0; }
.profile-photo img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.sidebar-collapsed .profile-photo
{
	overflow: hidden;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin: 10px 0;
}
.btn-toolbar.btn-search-toolbar .input-group { width: 87%; }
.page-title h1, .filter-panel h1
{
	font-size: 20px;
	color: #6c6c6c;
	margin: 0;
}
.filter-panel h1
{
	vertical-align: middle;
	position: relative;
	top: 3px;
}
.form-leads .custom-select
{
	background: url(../images/arrow-down-green.png) no-repeat 97% center / 13px auto;
	background-color: #fff;
}
.filter-panel .custom-select
{
	background: url(../images/arrow-down.png) no-repeat 86% center / 11px auto;
	display: inline-block;
	width: auto;
	padding-right: 50px;
	padding: .3rem 1.75rem .3rem .75rem;
	border-radius: 20px;
	border-width: 2px;
	background-color: transparent;
	border-color: #a5a6bb;
	font-size: 14px;
}
.custom-select:focus
{
	outline: 0 none;
	box-shadow: none;
}
.filter-panel .custom-select:focus
{
	outline: 0 none;
	box-shadow: none;
	border-color: #a5a6bb;
}
.filter-panel .input-group-text
{
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0px solid #ced4da;
}
.filter-panel .custom-select.sel-green
{
	background: #1c9b72 url(../images/arrow-down2.png) no-repeat 86% center / 11px auto !important;
	border-color: #1c9b72 !important;
	color: #fff;
	display: inline-block;
	width: auto;
	padding-right: 50px;
	padding: .3rem 1.75rem .3rem .75rem;
}
.filter-panel .input-group>.custom-file, .filter-panel .input-group>.custom-select, .filter-panel .input-group>.form-control, .filter-panel .input-group>.form-control-plaintext
{
	position: relative;
	-ms-flex: auto;
	flex: auto;
}
.card.card-total-leads
{
	background: url(../images/bg-01.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-clients
{
	background: url(../images/bg-02.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-tasks
{
	background: url(../images/bg-03.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-quotation
{
	background: url(../images/bg-04.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-agreement
{
	background: url(../images/bg-05.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-targets
{
	background: url(../images/bg-06.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-pickup
{
	background: url(../images/bg-07.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-payments
{
	background: url(../images/bg-08.png) no-repeat center center / cover;
	border: 0 none;
}
.card.card-total-targets2
{
	background: url(../images/bg-09.png) no-repeat center center / cover;
	border: 0 none;
}
.card-dashboard .card-title, .card-dashboard .card-text { font-size: 22px; }
.card-dashboard .card-title+.card-title { font-size: 30px; }
.card-dashboard .card > span
{
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	background-image: url(../images/menu-icons.png);
	background-repeat: no-repeat;
}
.card.card-total-leads .icon-leads { background-position: -57px -57px; }
.card.card-total-clients .icon-clients { background-position: -57px -122px; }
.card.card-total-tasks .icon-tasks { background-position: -57px -191px; }
.card.card-total-quotation .icon-quotation { background-position: -57px -257px; }
.card.card-total-agreement .icon-agreement { background-position: -132px -322px; }
.card.card-total-targets .icon-targets { background-position: -132px 10px; }
.card.card-total-pickup .icon-pickups { background-position: -132px -57px; }
.card.card-total-payments .icon-payments { background-position: -130px -260px; }
.card.card-total-targets2 .icon-targets2 { background-position: -130px -120px; }
.card-leads { background-color: #f2f6fc; }
.card-leads .card-header
{
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: #f2f6fc;
	border-bottom: 1px solid #e2e8f1;
}
.btn-green
{
	border-radius: 30px;
	background-color: #1e9d6f;
}
.card.card-lead-stats
{
	background: #fff url(../images/manage-leads-grey.png) no-repeat 0 bottom / 100% auto;
	color: #585858;
	font-size: 32px;
	line-height: normal;
	height: 125px;
}
.card.card-lead-stats.active { background: #fff url(../images/manage-leads-green.png) no-repeat 0 bottom / 100% auto; }
.card.card-lead-stats small
{
	font-size: 14px;
	display: block;
}
.lead-count
{
	position: absolute;
	display: block;
	right: 0px;
	bottom: 24px;
	width: 142px;
}
.icon-stats
{
	position: absolute;
	top: 50px;
	left: 13px;
	overflow: hidden;
	width: 64px;
	text-align: center;
}
.table-responsive>.table-bordered.table-leads-list { font-size: 14px; }
.table-leads-list tr:last-child td, .table-leads-list tbody tr:last-child td { border-bottom: solid 1px #000; }
.table-leads-list th, .table-leads-list thead th
{
	border-color: #000;
	background: #1e9d6f;
	color: #fff;
	vertical-align: middle;
	border-bottom-width: 1px;
}
.table-leads-list td, .table-leads-list tbody td
{
	border-color: transparent #000;
	vertical-align: middle;
}
.table-leads-list.table-striped tbody tr:nth-of-type(odd) { background-color: #e9e7e7; }
.table-leads-list.table td, .table th
{
	padding: .5rem .25rem;
	vertical-align: middle;
}
.table-leads-list .btn-group:before
{
	content: "";
	width: 1px;
	height: 100%;
	background: #1e7e34;
	position: absolute;
	left: 50%;
}
.table-leads-list.table-mom .btn-group:after
{
	content: "";
	width: 1px;
	height: 100%;
	background: #1e7e34;
	position: absolute;
	left: 68%;
}
.table-leads-list.table-mom .btn-group:before { left: 30%; }
.modal-content
{
	border: 0 none;
	border-radius: 0;
}
.modal-header
{
	border-bottom: 0 none;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background: #edecec;
}
.modal-header a
{
	color: #000;
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
}
#remarksModal hr, .page-title hr, hr
{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,1);
}
#remarksModal .lbl-date { color: #464646; }
#remarksModal .lbl-name { font-weight: 600; }
.form-control, .form-control:focus
{
	border: solid 1px rgba(42,63,84,.3);
	outline: 0 none;
	box-shadow: none;
}
.btn
{
	outline: 0 none;
	box-shadow: none;
}
.form-leads .col-form-label { font-size: 20px; }
.logo-clients
{
	background: #fff;
	padding: 8px;
	width: 66px;
	height: 66px;
	border: solid 1px rgba(42,63,84, .4);
	border-radius: 10px;
	margin: 0 auto;
}
.open { color: #1fd330; }
.closed { color: #ff0c00; }
.table-leads-list a
{
	color: #000;
	text-decoration: none;
}
.table-mom ul li { font-size: 13px; }
.img-preview
{
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 22px;
	margin: 0 auto;
	border: solid 1px rgba(42,63,84,.3);
	overflow: hidden;
}
.img-preview img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.uploadbutton
{
	background-color: #1e9e6e;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: auto;
	padding: 8px 25px;
	color: #fff;
	font-size: 16px;
	border-radius: 25px;
	width: 140px;
	margin: 20px auto 0;
}
.uploadbutton input.upload
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
}
.custom-span
{
	font-family: Arial;
	font-weight: bold;
	font-size: 100px;
	color: #FE57A1
}
#fileupload
{
	border: none;
	margin-left: 10px;
	width: 200px;
	display: none;
}
.textdiv
{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	margin: 0;
}
.field-icon
{
	position: absolute;
	right: 25px;
	top: 5px;
}
.btn:focus
{
	outline: 0 none;
	box-shadow: none;
	border: 0 none;
}
.text-green { color: #1e9e6e; }
.client-stats
{
	font-size: 18px;
	display: inline-block;
}
.client-stats.active { font-weight: bold; }

@media only screen and (max-width:767px) {
.sidebar-expanded
{
	width: 100%;
	transition: 0.5s;
}
.page-content { margin-top: 67px; }
}

@media only screen and (max-width:900px) {
.client-stats
{
	font-size: 18px;
	display: block;
}
.sidebar-collapsed { width: 0px; }
.form-search, .form-search .form-control { height: auto; }
.form-search .form-control, .form-search .form-control:focus
{
	background: url(../images/search.png) no-repeat 14px center;
	padding-left: 60px;
	font-size: 18px;
	outline: 0 none;
	box-shadow: none;
	border-color: #f3f6fd;
}
.btn-toolbar.btn-search-toolbar .input-group { width: 100%; }
.btn-group.btn-top
{
	right: 10px;
	top: -2px;
}
.btn-group.btn-top img
{
	width: auto;
	height: 30px;
}
#sidebar-container { overflow: hidden; }
.collapse-icon
{
	position: absolute;
	top: 20px;
	right: 20px;
}
.navbar { }
.custom-select
{
	padding: .3rem 1.75rem .3rem .75rem;
	margin: 0 10px 10px 0;
}
.card.card-lead-stats
{
	font-size: 32px;
	line-height: normal;
	height: 150px;
}
.lead-count
{
	position: absolute;
	display: block;
	right: 0px;
	bottom: 50px;
	width: 212px;
}
.form-search h3 { font-size: 20px; }
}

@media only screen and (min-width:768px) and (max-width:950px) {
.sidebar-collapsed { width: 70px; }
}
.subtitle li
{
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
}
table { font-size: 13px; }
.table-bordered thead td, .table-bordered thead th { border-bottom-width: 1px; }
.table thead th
{
	vertical-align: bottom;
	border-bottom: 1px solid #dee2e6;
}
/*td.email-col { word-break: break-word; }*/
.btn, .btn:hover, .btn:focus
{
	font-size: 14px;
	white-space: nowrap;
}
.page-item.active .page-link
{
	background-color: #1b364f;
	border-color: #1b364f;
}
.page-link { color: #6c6c6c; }
.page-link:focus { box-shadow: none; }
.profile-img-col img
{
	height: 70px;
	width: 70px;
	max-width: 70px;
	margin: 0 auto;
	display: flex;
	border-radius: 0;
}
.profile-img { border-radius: 100%; }
.navbar-brand, .navbar-brand+a
{
	font-size: 14px;
	color: #6c6c6c;
}
.form-control, .form-control:focus, .custom-select, .custom-select:focus
{
	border: solid 1px #d1d1d1;
	border-radius: 0;
	box-shadow: none;
}
.main-content { overflow: hidden; }
button:focus
{
	box-shadow: none;
	outline: 0 none;
}
.form-control { font-size: 14px; }
.table thead th
{
	vertical-align: middle;
	background: #1b364f;
	color: #fff;
	white-space: nowrap;
	position: relative;
}
.entry:not(:first-of-type) { margin-top: 10px; }
.entry .fileName
{
	font-size: 17px;
	color: #9f9f9f;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80px;
	width: 120px;
	display: inline-block;
	border: 1px solid #ddd;
	vertical-align: middle;
	margin-right: 10px;
}
.glyphicon { font-size: 12px; }
.btn-bs-file { position: relative; }
.btn-bs-file input[type="file"]
{
	position: absolute;
	top: -9999999;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 0;
	height: 0;
	outline: none;
	cursor: inherit;
}
.controls .input-group { padding: 0; }
.browse-btn, .browse-btn:hover
{
	background: #23a9cc;
	padding: 4px 15px;
	color: #ffffff;
	border: 1px solid #23a9cc;
	margin-right: 10px;
	border-radius: 0;
	font-size: 14px;
	height: 80px;
	display: flex;
	align-items: center;
}
.myForm .form-group
{
	padding: 5px 20px;
	position: relative;
	margin: 0;
	width: 100%;
}
.img-preview { display: none; }
.img-preview img.img-responsive
{
	width: 95%;
	height: 500px;
}
.btn.btn-add:focus, .btn.btn-add:hover, .btn.btn-remove:focus, .btn.btn-remove:hover
{
	background: transparent;
	color: #000;
	outline: 0 none;
	box-shadow: none;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker
{
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;/*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}
.datepicker-inline { width: 220px; }
.datepicker.datepicker-rtl { direction: rtl; }
.datepicker.datepicker-rtl table tr td span { float: right; }
.datepicker-dropdown
{
	top: 0;
	left: 0;
}
.datepicker-dropdown:before
{
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-top: 0;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
}
.datepicker-dropdown:after
{
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-top: 0;
	position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before { left: 6px; }
.datepicker-dropdown.datepicker-orient-left:after { left: 7px; }
.datepicker-dropdown.datepicker-orient-right:before { right: 6px; }
.datepicker-dropdown.datepicker-orient-right:after { right: 7px; }
.datepicker-dropdown.datepicker-orient-top:before { top: -7px; }
.datepicker-dropdown.datepicker-orient-top:after { top: -6px; }
.datepicker-dropdown.datepicker-orient-bottom:before
{
	bottom: -7px;
	border-bottom: 0;
	border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-bottom:after
{
	bottom: -6px;
	border-bottom: 0;
	border-top: 6px solid #ffffff;
}
/*.datepicker > div {
  display: none;
}*/
.datepicker.days div.datepicker-days { display: block; }
.datepicker.months div.datepicker-months { display: block; }
.datepicker.years div.datepicker-years { display: block; }
.datepicker table
{
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.datepicker td, .datepicker th
{
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}
.table-striped .datepicker table tr td, .table-striped .datepicker table tr th { background-color: transparent; }
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused
{
	background: #eeeeee;
	cursor: pointer;
}
.datepicker table tr td.old, .datepicker table tr td.new { color: #999999; }
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
{
	background: none;
	color: #999999;
	cursor: default;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover
{
	background-color: #fde19a;
	background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(top, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #000;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled, .datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled, .datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled], .datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled] { background-color: #fdf59a; }
.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active { background-color: #fbf069 \9; }
.datepicker table tr td.today:hover:hover { color: #000; }
.datepicker table tr td.today.active:hover { color: #fff; }
.datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover
{
	background: #eeeeee;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.datepicker table tr td.range.today, .datepicker table tr td.range.today:hover, .datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:hover
{
	background-color: #f3d17a;
	background-image: -moz-linear-gradient(top, #f3c17a, #f3e97a);
	background-image: -ms-linear-gradient(top, #f3c17a, #f3e97a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
	background-image: -webkit-linear-gradient(top, #f3c17a, #f3e97a);
	background-image: -o-linear-gradient(top, #f3c17a, #f3e97a);
	background-image: linear-gradient(top, #f3c17a, #f3e97a);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
	border-color: #f3e97a #f3e97a #edde34;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.datepicker table tr td.range.today:hover, .datepicker table tr td.range.today:hover:hover, .datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled:hover:hover, .datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active, .datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.active, .datepicker table tr td.range.today:hover.active, .datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled:hover.active, .datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today:hover.disabled, .datepicker table tr td.range.today.disabled.disabled, .datepicker table tr td.range.today.disabled:hover.disabled, .datepicker table tr td.range.today[disabled], .datepicker table tr td.range.today:hover[disabled], .datepicker table tr td.range.today.disabled[disabled], .datepicker table tr td.range.today.disabled:hover[disabled] { background-color: #f3e97a; }
.datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active, .datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.active, .datepicker table tr td.range.today:hover.active, .datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled:hover.active { background-color: #efe24b \9; }
.datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover
{
	background-color: #9e9e9e;
	background-image: -moz-linear-gradient(top, #b3b3b3, #808080);
	background-image: -ms-linear-gradient(top, #b3b3b3, #808080);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
	background-image: -webkit-linear-gradient(top, #b3b3b3, #808080);
	background-image: -o-linear-gradient(top, #b3b3b3, #808080);
	background-image: linear-gradient(top, #b3b3b3, #808080);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
	border-color: #808080 #808080 #595959;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover, .datepicker table tr td.selected:hover:hover, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover:hover, .datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.active, .datepicker table tr td.selected:hover.active, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled:hover.active, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected:hover.disabled, .datepicker table tr td.selected.disabled.disabled, .datepicker table tr td.selected.disabled:hover.disabled, .datepicker table tr td.selected[disabled], .datepicker table tr td.selected:hover[disabled], .datepicker table tr td.selected.disabled[disabled], .datepicker table tr td.selected.disabled:hover[disabled] { background-color: #808080; }
.datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.active, .datepicker table tr td.selected:hover.active, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled:hover.active { background-color: #666666 \9; }
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover
{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] { background-color: #0044cc; }
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active { background-color: #003399 \9; }
.datepicker table tr td span
{
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker table tr td span:hover { background: #eeeeee; }
.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover
{
	background: none;
	color: #999999;
	cursor: default;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover
{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] { background-color: #0044cc; }
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active { background-color: #003399 \9; }
.datepicker table tr td span.old, .datepicker table tr td span.new { color: #999999; }
.datepicker th.datepicker-switch { width: 145px; }
.datepicker thead tr:first-child th, .datepicker tfoot tr th { cursor: pointer; }
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover { background: #eeeeee; }
.datepicker .cw
{
	font-size: 10px;
	width: 12px;
	padding: 0 2px 0 5px;
	vertical-align: middle;
}
.datepicker thead tr:first-child th.cw
{
	cursor: default;
	background-color: transparent;
}
.input-append.date .add-on i, .input-prepend.date .add-on i
{
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.input-daterange input { text-align: left; }
.input-daterange input:first-child
{
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child
{
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.input-daterange .add-on
{
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 20px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	margin-left: -5px;
	margin-right: -5px;
}
.datepicker.dropdown-menu
{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
 *border-right-width: 2px;
 *border-bottom-width: 2px;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td { padding: 4px 5px; }
.input-group-text { font-size: 15px; }
.pagination li:first-child a
{
	margin-left: 0;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
}
.pagination li a
{
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #1b364f;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
.pagination li.active a
{
	z-index: 3;
	color: #fff;
	background-color: #1b364f;
	border-color: #1b364f;
}
.pagination li a:hover
{
	z-index: 2;
	color: #1b364f;
	text-decoration: none;
	background-color: #ccc;
	border-color: #ccc;
}
.pagination { justify-content: center; }
.pagination li.disabled a
{
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}
.custom-select { font-size: 14px; }
.sorting {
    position: relative;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.sort-asec, .sort-desc
{display: flex;
}
.sort-asec { }
.sort-desc { }
.modal-header.bg-primary, .card-header.bg-primary { background-color: #69b0b8 !important; }
.section-stats { font-size: 35px; }
hr { border-top: 1px solid rgba(0,0,0,.15); }
.loading {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: center;
    align-items: center;
}
.btn:disabled {
    opacity: 1;
    background: #ccc;
    border-color: #ccc;
}