     <!-- MAIN -->
    <div class="col main-content content-dashboard pb-5">
      <div class="row bg-white border-bottom mb-3">
        <div class="col-12 col-md-8 page-title pt-3 pb-md-3 d-flex justify-content-start align-items-center">
          <h1>Launch</h1>
        </div>
<!--        <div class="col-12 col-md-4 d-flex justify-content-end align-items-center">
          <button class="btn btn-primary pt-2 pb-2 mr-2">Update</button>
          <button class="btn btn-outline-primary pt-2 pb-2">Cancel</button>
        </div>-->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card rounded-0 mb-3">
           <form id="addNotification" action="<?php echo htmlspecialchars("/event/launch");?>" method="post" enctype="multipart/form-data">   
            <div class="card-header card-header-divider bg-primary text-white rounded-0">Email Info</div>
            <div class="card-body">
              <div class="form-row">
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label>User Group</label>
                    <select class="custom-select" name="usergroup">
                    <option value="all">All Guest</option>
                    <option value="alllogin">Login</option>
                    <option value="allnotlogin">Not Login</option>
                    </select>
                 </div>
                </div>  
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="" name="title">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="" name="subject" required> 
                  </div>
                </div>
                
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea  class="form-control" id="" aria-describedby="" placeholder="" rows="3" style="resize:none;" name="msg" required></textarea>
                  </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary pt-2 pb-2" type="submit">Send Email</button>
                  <button class="btn btn-outline-primary pt-2 pb-2">Cancel</button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>