<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage App Launch</h1>
    </div>
    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
      <button type="button" class="btn btn-outline-primary btn-sm" onclick="sendemailapplaunch();"> SEND EMAIL</button>
    </div>
  </div>
  <input type="hidden" id='role' name='role' value=''>
  <input type="hidden" name="page" id="currentPage" value=1>
  <input type="hidden" name="firstNameOrder" id="firstNameOrder" value="">
  <input type="hidden" name="exportAction" id="exportAction" value="">
  <input type="hidden" name="type" id="filter" value="">
  <input type="hidden" name="usernameonw" id="usernameonw" value="">
  <input type="hidden" name="lastUserId" id="lastUserId" value="<?php echo $lastUserId;?>">
  <div class="row bg-light">
    <div class="col-12 col-md-4 text-right"></div>
    <div class="col-12 d-flex justify-content-start align-items-center pt-1 pb-1">
      <ul class="subtitle list-unstyled m-0">
        <li id="all" class="active"> Total Attendee: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('all',0);"><?php echo $userCounter['all']; ?></a></li>
        <li id="vip" style="color:rgb(51,102,204);"> Total VIP: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('vip',0);" style="color:rgb(51,102,204);"><?php echo $userCounter['VIP']; ?></a> 
        <li id="totalLogin" style="color:rgb(16,150,24);"> Total Login: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('totalLogin',0);" style="color:rgb(16,150,24);"><?php echo $userCounter['totalLogin']; ?></a>
        
        <li id="iosLogin" style="color:rgb(153,0,153);">iOS Login: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('iosLogin',0);" style="color:rgb(153,0,153);"><?php echo $userCounter['iosLogin']; ?></a></li>
        <li id="androidLogin" style="color:rgb(0,153,198);"> Android Login: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('androidLogin',0);" style="color:rgb(0,153,198);"><?php echo $userCounter['androidLogin']; ?></a></li>
        <li id="notLogin" style="color:rgb(51,102,204);"> Total NotLogin: <a href="javascript:void(0)" onclick="drooly.getAppLaunchData('notLogin',0);" style="color:rgb(51,102,204);"><?php echo $userCounter['notLogin']; ?></a>
      </ul>
    </div>
  </div>
  <!--      <form>-->
  <div class="row mb-2">
<!--    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Name, Email" aria-label="Search here by Name,Email" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.getAppLaunchData('all',0);"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>-->
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2 d-flex align-items-center justify-content-md-end">
      <div class="input-daterange input-group date" id="Rangedatepicker" data-date-format="yyyy-mm-dd"> <!--<span class="input-group-text rounded-0 border-0">From</span>-->
        <input type="text" class="input-sm form-control" name="start" aria-describedby="Sel-from-date" placeholder="From Date" id="fromDate" />
        <div class="input-group-append"> <span class="input-group-text input-group-addon" id="Sel-from-date"><i class="fa fa-calendar"></i></span> </div>
        <!--<span class="input-group-text rounded-0 border-0">to</span>-->
        <input type="text" class="input-sm form-control" name="end" aria-describedby="Sel-End-date" placeholder="To Date" id="toDate"/>        
        <div class="input-group-append"><button type="button" class="btn btn-primary ml-2 rounded" onclick="drooly.getAppLaunchData('all',0);">Show</button></div>
      </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2 col-xl-2 mt-2 d-flex align-items-center">
        <select class="custom-select" id="cityFilter" onchange="drooly.getAppLaunchData('all',0);">
            <option value="" selected>Select City</option>
                    <?php foreach($cityFilter as $value){?>
                    <option value="<?php echo $value['city']?>"><?php echo $value['city']?></option>
                    <?php }?>  
                 </select>
    </div>
<div class="col-12 col-md-2 col-lg-2 col-xl-2 mt-2 d-flex align-items-center">
        <select class="custom-select" id="templateId">
            <option value="" selected>Select Email Template</option>
                    <option value="deafult">Default1</option>
        </select>
    </div>
<!--    <div class="col-12 col-md-2 col-lg-3 col-xl-3 mt-2 d-flex align-items-center justify-content-end">
      <div class="btn-group">
        <button class="btn btn-primary rounded mr-2" type="button" id="inputGroupFileAddon04" data-toggle="modal" data-target="#importModal"><i class="fa fa-download d-none"></i> Import</button>
        <button class="btn btn-primary rounded" type="button" onclick="convertlisttoexcel();"><i class="fa fa-file-excel-o d-none"></i> Export to Excel</button>
      </div>
    </div>-->
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?>
    <div class="col-12 pl-0 pr-0">
      <div id="resultData"></div>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 
<!-- body-row END --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>  
<script>
  $(function(){
	drooly.getAppLaunchData('<?php echo $filter;?>','<?php echo $page;?>');
   });
$(document).ready(function(){
  
   $("#"+'<?php echo $filter;?>').addClass('active'); 
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});
function settableorder(type,value){
  if(type=="firstName"){
    $("#firstNameOrder").val(value);
     drooly.getAppLaunchData();
     return true;
  }
  return false;
    
}
  
 $('#search').keypress(function (e) {
      if (e.which == 13) {
       drooly.getAppLaunchData('all',0);
        return false;    //<---- Add this line
      }
 });
$('#Rangedatepicker.input-daterange').datepicker({
    autoclose: true,
    todayHighlight: true
});
</script>