<link rel="stylesheet" href="/eventTap/css/select2.min.css"/>
<form   id="addscspeaker" role="form" enctype="multipart/form-data" method="post" action="<?php echo htmlspecialchars("/eventprogram/add-agenda");?>" name="addscspeaker">
<div class="modal-header bg-primary text-white rounded-0">
        <h5 class="modal-title" id="SendPushModalLabel">Add Speaker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
    <input type="hidden" id="agendaId" name="agendaId" value="<?php echo $data['agendaId'];?>">
    <input type="hidden" id="action" name="action" value="<?php echo $data['action'];?>">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="form-row">  
                <div class="col-12">
                  <div class="form-group">
                    <label>Select Speaker</label>
            <select name="speakers[]"  id= "selectspeaker" class="select2me form-control inputbox" placeholder="Select Speaker" multiple>
                     <?php foreach($speakerList as $value){?>          
                               <option value="<?php echo $value['username']?>" <?php  if (in_array($value['username'],$existSpeaker)){echo 'selected=selected';}?>><?php echo $value['firstName']?></option>
                     <?php }?>
                            </select>
                   
                  </div>
                </div> 
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button  class="btn btn-primary" type="submit" id="other">SAVE</button>
      </div>
</form>
<script type="text/javascript" src="/eventTap/js/select2.min.js"></script>
<script>
 $(document).ready(function() {
    $('#selectspeaker').select2();
});
$(document).ready(function (e) {   
   $("#addscspeaker").on('submit',(function(e){
    var page = $("#currentPage").val();
    var action = $("#action").val();
    e.preventDefault();
    $.ajax({
    url: "/eventprogram/addscspeaker", 
    type: "POST",             
    data: new FormData(this), 
    contentType: false,       
    cache: false,             
    processData:false,        
    dataType:'json',
    beforeSend: function (data) {
                //$("#startup").show();
                },
      success: function(data)
    {
       $("#startup").hide();
       if(data.send.status==0){ 
        alert(data.send.message);
        return false;
       } else {
         alert(data.send.message);
         $('#addScSpeakerModal').modal('hide');
         if(action=='agenda'){
         drooly.manageAgenda('all',page);
        }else{
         drooly.manageAgenda('all',page);   
        }
      }
     }
   });
  }));
});
 </script>
 