<?php // echo '<pre>'; print_r($boothVdoTitle); die('kjk'); ?>

<div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="doctitle" name="doctitle" value="<?php echo $boothDocTitle[0]['Title']; ?>">
        </div>

<div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="updateBoothDoc('<?php echo $boothDocTitle[0]['id'] ?>');"><span class="spinner-border spinner-border-sm mr-2" id="loader2" style="display:none;" role="status" aria-hidden="true"></span> Save</button>
      </div>


<script>
    function updateBoothDoc(boothDocId){
       var title=$("#doctitle").val();
      $.ajax({
            type: "POST",
            url: '/eventprogram/updateBoothDoc',
            datatype:'json',
            data: {title:title,boothDocId:boothDocId},
            async: true,
            success:function(data){
//             if(data.send.status==0){ 
               $("#EditVdoModal").modal('hide'); 
                alert(data.send.message);
                window.location.reload();
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}
</script>    