<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Experience Zone</title>
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/eventTap/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/a53b434e78.js"></script>
<link rel="stylesheet" href="/eventTap/css/custom.css">
<style>
body
{
	background-color: #000;
	font-size: 14px;
}
.bg-dark { background-color: #000!important; }
#experience-zone .main-large-view-booth .view-booth-img
{
	background: url(/eventTap/images/hall-chicago.jpg) top left repeat-x;
	height: 519px;
}
#experience-zone .mainbooth-container.card
{
	border: 1px solid #d8dee6;
	background: #fbfbfc;
}
.widget
{
	border: 1px solid #e0e1e3;
	margin-bottom: 15px;
}
.widget-title h3
{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background: #000;
	padding: 7px 10px;
	margin: 0;
}
.widget-content
{
	width: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	height: 175px;
}
.widget .list-group-item { padding: .35rem .5rem; }
.widget-content ol { padding: 15px 30px; }
.widget-content ol li
{
	text-align: left;
	border-bottom: none;
	padding-left: 0;
	padding-bottom: 10px;
	line-height: 22px;
}
.btn:focus { box-shadow: none; }
#experience-zone .booth-main-menu a { color: #000; }
#experience-zone .home-container p { font-size: 14px; }
#experience-zone .list-videos-docs .list-group-item { padding: .5rem; }
.progace-bar
{
	color: #9e9e9e;
	padding: 10px 10px;
	margin: 0px auto 0px auto;
	text-decoration: none;
	border: 1px solid #000000;
	position: absolute;
	z-index: 2006 !important;
	background: #ffffff;
	border: 1px solid #ffffff;
	width: 100%;
	height: 519px;
	left: 0;
	right: 0;
}
.progace-bar .left
{
	width: 300px;
	height: 40px;
	margin: 190px auto 0 auto;
	padding: 0px 0px 0px 0px;
}
.progace-bar .right
{
	width: 900px;
	height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
}
#booth-video
{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	height: 520px;
	width: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#experience-zone .home-container .nav-tabs { border-bottom: 0px solid #dee2e6; }
#experience-zone.home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .list-group-item a
{
	padding: .75rem 1.25rem;
	display: block;
	text-decoration: none;
}
#experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus, #experience-zone .list-group-item a:hover, #experience-zone .list-group-item a:focus
{
	color: #fff;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 0;
}
#experience-zone .home-container .nav-tabs .nav-link
{
	padding: 10px 20px;
	border: 0 none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}
#experience-zone .home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .home-container .tab-content>.tab-pane h1
{
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	line-height: 21px;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #3e3e3e;
}
#experience-zone .home-container p { font-size: 14px; }
#experience-zone .list-group-item { padding: 0; }
.btn-view
{
	font-size: 14px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	text-transform: uppercase;
	border: 0 none;
	padding: 6px 20px;
}
.file
{
	visibility: hidden;
	position: absolute;
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
	height: 0;
	margin: 0;
}
.file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
	height: 0;
	margin: 0;
}
.custom-file-upload .btn { margin-top: 0; }
.browse.btn.btn-primary span { position: relative; }
#add-visit-menus
{
	position: absolute;
	top: 5px;
	right: 10px;
}
#edit-booth-description
{
	position: absolute;
	right: 25px;
	top: 50px;
}
.table td
{
	vertical-align: middle;
	padding: .35rem 15px;
}
.main-large-view-booth .custom-file-upload { display: inline-block; }
</style>
</head>
<body>
<div class="wrapper">
  <main class="main-content"> 
    <!-- START MAIN DIV Experience Zone -->
    <div id="experience-zone" class="container-fluid" style="background-color:#000;">
      <div class="progace-bar" id="pbBooth" style="display:none;">
        <div class="left"><img src="images/loading-bar.gif" width="300" height="60" alt=""/></div>
        <div class="right" id="LoadingBooths">Loading Booths ...</div>
      </div>
      <section style="display:none;" data-target-id="#img_scroll1">
        <div id="show-booth-video" class="collapse"><a href="javascript:void(0);" class="close-panel"><img src="images/close2.svg" width="20" onclick="closeexpzone();" alt="Close"></a>
          <iframe src="https://xs-worldwide.com/file/mtu/index.htm" frameborder="0" width="100%" height="100%" style="height:100%; width:100%;"></iframe>
        </div>
      </section>
      <section id="main-large-view-booth" class="main-large-view-booth position-relative" data-target-id="#img_scroll2">
        <div class="row">
          <div class="col-12 p-0">
            <div class="card rounded-0 main-large-view-booth bg-transparent border-0">
              <div class="card-body p-0 text-center view-booth-img d-flex justify-content-center align-items-center">
                <div class="position-relative pt-5"><img id="booth-preview" src="/eventTap/images/booth/booth-large-01.png" height="320" alt=""/>
                  <div class="btncolumns1 mt-2">
                    <div class="custom-file-upload">
                      <button type="button" class="browse btn btn-primary d-inline-flex justify-content-center align-items-center mr-3 mt-2" title="Upload Booth Image"><span><i class="fa fa-camera mr-2"></i></span>Upload Large Image/Video</button>
                      <input type="file" name="attachment[]" class="file" accept="image/*" id="fup1">
                      <input type="text" class="form-control file-upload" disabled placeholder="Upload Large Image/Video" id="file1">
                    </div>
                    <div class="custom-file-upload">
                      <button type="button" class="browse btn btn-primary d-inline-flex justify-content-center align-items-center mt-2" title="Upload Booth Image"><span><i class="fa fa-camera mr-2"></i></span>Upload Small Image</button>
                      <input type="file" name="attachment2[]" class="file" accept="image/*" id="fup2">
                      <input type="text" class="form-control file-upload" disabled placeholder="Upload Small Image" id="file2">
                    </div>
                    <button class="btn btn-primary btn-lg d-none" type="submit" id="btn-save1">Save</button>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white booth-buttons-next-prev mt-0 mb-3 pt-0 pb-0 border-top border-dark rounded-0">
                <div class="row d-flex">
                  <div class="col bg-white text-center">
                    <ul class="list-group list-group-horizontal d-flex justify-content-center booth-main-menu">
                      <li class="list-group-item rounded-0"><a href="#">Signature Management</a></li>
                      <li class="list-group-item rounded-0"><a href="#">Products</a></li>
                      <li class="list-group-item rounded-0"><a href="#">Linkedin</a></li>
                      <li class="list-group-item rounded-0"><a href="#">Facebook</a></li>
                      <li class="list-group-item rounded-0"><a href="#">Twitter</a></li>
                      <li class="list-group-item rounded-0"><a href="#">Chat</a></li>
                    </ul>
                    <button class="btn btn-add btn-dark" id="add-visit-menus" data-toggle="modal" data-target="#BoothVisitMenuModal"><i class="fa fa-plus"></i> ADD</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- section Large Booth Details STARTS -->
      <section class="pb-2 home-container" data-target-id="#img_scroll2">
        <div class="row">
          <div class="col p-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-building"></i> Description</a> </li>
              <li class="nav-item" role="presentation"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-play-circle-o"></i> Videos</a> </li>
              <li class="nav-item" role="presentation"> <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-file-text-o"></i> Documents</a> </li>
            </ul>
            <div class="tab-content bg-white" id="myTabContent">
              <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                <button id="edit-booth-description" class="btn btn-dark btn-edit" type="button" data-toggle="modal" data-target="#EditBoothDescriptionModal"><i class="fa fa-pencil mr-2"></i> Edit</button>
                <h1>Human Experience Management by SAP SuccessFactors </h1>
                <p>A vital part of SAP since 2012, SAP SuccessFactors is a world-leading provider of cloud human experience management (HXM) – the new people-focused term for HCM. Our HXM suite lets you provide employees with experiences that recognize their individual value and consistently motivate them to achieve peak performance levels.</p>
              </div>
              <div class="tab-pane fade p-0" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-striped  table-hover table-sm m-0">
                  <tbody>
                    <tr>
                      <td width="60%">Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                      <td width="30%" align="right"><button class="btn btn-success" type="button" data-toggle="modal" data-target="#videoModal"><i class="fa fa-youtube-play"></i> Play</button></td>
                      <td width="10%" align="right"><div class="btn-group" role="group" >
                          <button class="btn btn-primary rounded mr-2"><i class="fa fa-pencil"></i></button>
                          <button class="btn btn-primary round' mr-2"><i class="fa fa-trash"></i></button>
                          <button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>
                        </div></td>
                    </tr>
                    <tr>
                      <td width="60%"><input type="text" class="form-control" placeholder="Enter Title..."></td>
                      <td width="30%" align="left" valign="top"><input type="text" class="form-control d-inline-block w-75" placeholder="Video URL">
                        <label>or</label>
                        <div class="custom-file-upload d-inline-block">
                          <button type="button" class="browse btn btn-primary mr-2 rounded" title="Upload"><i class="fa fa-cloud-upload"></i></button>
                          <input type="file" name="attachment3[]" class="file" accept="image/*" id="fup3">
                          <input type="text" class="form-control file-upload d-none" disabled placeholder="Upload" id="file3">
                        </div></td>
                      <td width="10%" align="right"><div class="btn-group" role="group" >
                          <button class="btn btn-primary mr-2 rounded"><i class="fa fa-trash"></i></button>
                          <button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>
                        </div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-striped  table-hover table-sm m-0">
                  <tbody>
                    <tr>
                      <td width="60%">Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                      <td width="30%" align="right"><a class="btn btn-success" href="#" target="_blank"><i class="fa fa-file-text-o"></i> View</a></td>
                      <td width="10%" align="right"><div class="btn-group" role="group" >
                          <button class="btn btn-primary rounded mr-2"><i class="fa fa-pencil"></i></button>
                          <button class="btn btn-primary rounded mr-2"><i class="fa fa-trash"></i></button>
                          <button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>
                        </div></td>
                    </tr>
                    <tr>
                      <td width="60%"><input type="text" class="form-control" placeholder="Enter Title..."></td>
                      <td width="30%" align="right"></td>
                      <td width="10%" align="right"><div class="btn-group" role="group" >
                          <div class="custom-file-upload d-inline-block">
                            <button type="button" class="browse btn btn-primary mr-2 rounded" title="Upload Booth Image"><i class="fa fa-cloud-upload"></i></button>
                            <input type="file" name="attachment4[]" class="file" accept="image/*" id="fup4">
                            <input type="text" class="form-control file-upload" disabled placeholder="Upload" id="file4">
                          </div>
                          <button class="btn btn-primary rounded mr-2"><i class="fa fa-trash"></i></button>
                          <button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>
                        </div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section Large Booth Details END --> 
      
    </div>
    <!-- END MAIN DIV Experience Zone --> 
    
  </main>
</div>
<div class="modal fade" id="BoothVisitMenuModal" tabindex="-1" role="dialog" aria-labelledby="BoothVisitMenuModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="BoothVisitMenuModalLabel">ADD MENU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Menu Item Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>URL</label>
          <input type="url" class="form-control">
        </div>
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="EditBoothDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="EditBoothDescriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="EditBoothDescriptionModalLabel">ADD DESCRIPTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" value="Human Experience Management by SAP SuccessFactors">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="7">A vital part of SAP since 2012, SAP SuccessFactors is a world-leading provider of cloud human experience management (HXM) – the new people-focused term for HCM. Our HXM suite lets you provide employees with experiences that recognize their individual value and consistently motivate them to achieve peak performance levels.</textarea>
        </div>
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-white text-black-50">
        <h5 class="modal-title" id="videoModalLabel">Welcome and Context setting- Changing business priorities in the times of COVID-19: What employee experience means now?</h5>
        <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""/></span> </button>
      </div>
      <div class="modal-body p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <video id="agenda-video1" class="embed-responsive-item" controls playsinline  width="100%" height="100%">
            <source src="https://riyalstory.s3-eu-west-1.amazonaws.com/agendaVideo/Agenda1.mp4" type=video/mp4>
            <div style="border: 1px solid black; padding: 8px;">Sorry, your browser does not support the &lt;video&gt; tag used in this demo.</div>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/eventTap/js/jquery-3.5.1.min.js"></script> 
<script src="/eventTap/js/bootstrap.bundle.min.js"></script> 
<script>
$( document ).ready(function() {      
    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
	 $(document).on("click", ".browse", function() { 
  $("#fup1").trigger("click"); 
}); 
	
	$('#fup1').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file1").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("booth-preview").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});
 });	
	
</script>
</body>
</html>