<?php // echo '<pre>'; print_r($results); die(' jkjk'); ?>

<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Media Name</th>
                    <th>Media</th>
                     <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){   ?> 
                    
                    
                     <tr>
                 
                     <td><?php echo $page; ?></td>
                     
               
                     
                     <td><?php echo $result['mediaName']?></td>
                     
                     
<!--                 <td>
                     <?php if($result['type']==1){ ?>
                     <button type="button" class="telkom_btn add_btns whatsbtn" data-toggle="modal" data-target="#myModal" onclick="getMedia('<?php echo $mediaUrl.$result['media']?>','1')">View</button>
                         <?php } else {?>
                     <button type="button" class="telkom_btn add_btns whatsbtn" data-toggle="modal" data-target="#videomodal2" onclick="getMedia('<?php echo $mediaUrl.$result['media']?>','2')">View</button> 
                         <?php }?>
                 </td>-->
                     
                     
             <td> <video id="myvideomultiple3" controls loop preload="auto" muted width="320" height="200">
             <source src="<?php echo $mediaUrl.$result['media'] ?>" />
          </video></td>
          
          
             <td><?php if($result['status']==1){ ?>
                  <label class="custom-radio">
	           <input type="radio" value="2" name="status" <?php if($result['status']=="1"){echo "checked";}?>  onclick="deleteExperienceZoneMedia('<?php echo base64_encode($result['id'])?>','2');">
                    <span class="checkmark"></span>
	          </label>
                <?php }else if($result['status']==2){ ?>
          <label class="custom-radio">
	  <input type="radio" value="1" name="status" <?php if($result['status']=="2"){echo "";}?>  onclick="deleteExperienceZoneMedia('<?php echo base64_encode($result['id'])?>','1');">
          <span class="checkmark"></span>
	 </label>
          <?php } ?></td>
                     
                     
                
<!--                    <td>
                        <?php if($result['status']==1){ ?>    
<div class="btn-group" role="group" aria-label=""> <a class="btn btn-outline-primary btn-block rounded" href="javascript:void(0);" onclick="deleteExperienceZoneMedia('<?php echo base64_encode($result['id'])?>','2');"><i class="fa fa-remove" title="Delete Media"></i></a></div>
                        <?php }else if($result['status']==2){ ?>
                          <div class="btn-group" role="group" aria-label=""><a  href="javascript:void(0);" class="btn btn-outline-primary btn-sm rounded" title="Deleted Media">Deleted</a>
                         <a class="btn btn-outline-primary  btn-block ml-2 rounded"  title="Revoke Media" href="javascript:void(0);" onclick="deleteExperienceZoneMedia('<?php echo base64_encode($result['id'])?>','1');"><i class="fa fa-revoke" ></i>Revoke</a>
                       </div>
                   <?php } ?>
                    </td>  -->
                    
                    
                  </tr>
                  <?php
             $page++;
                } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'experience-zone-video-list'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});
</script>