<?php // echo  '<pre>'; print_r($pera);  die('    lol'); ?>
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Experience Zone</title>
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/eventTap/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/a53b434e78.js"></script>
<link rel="stylesheet" href="/eventTap/css/custom.css">
<style>
body {
	background-color: #000;
	font-size: 14px;
}
.bg-dark {
	background-color: #000!important;
}
#experience-zone .main-large-view-booth .view-booth-img {
	background: url(/eventTap/images/hall-chicago.jpg) top left repeat-x;
	height: 519px;
}
#experience-zone .mainbooth-container.card {
	border: 1px solid #d8dee6;
	background: #fbfbfc;
}
.widget {
	border: 1px solid #e0e1e3;
	margin-bottom: 15px;
}
.widget-title h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background: #000;
	padding: 7px 10px;
	margin: 0;
}
.widget-content {
	width: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	height: 175px;
}
.widget .list-group-item {
	padding: .35rem .5rem;
}
.widget-content ol {
	padding: 15px 30px;
}
.widget-content ol li {
	text-align: left;
	border-bottom: none;
	padding-left: 0;
	padding-bottom: 10px;
	line-height: 22px;
}
.btn:focus {
	box-shadow: none;
}
#experience-zone .booth-main-menu a {
	color: #000;
}
#experience-zone .home-container p {
	font-size: 14px;
}
#experience-zone .list-videos-docs .list-group-item {
	padding: .5rem;
}
.progace-bar {
	color: #9e9e9e;
	padding: 10px 10px;
	margin: 0px auto 0px auto;
	text-decoration: none;
	border: 1px solid #000000;
	position: absolute;
	z-index: 2006 !important;
	background: #ffffff;
	border: 1px solid #ffffff;
	width: 100%;
	height: 519px;
	left: 0;
	right: 0;
}
.progace-bar .left {
	width: 300px;
	height: 40px;
	margin: 190px auto 0 auto;
	padding: 0px 0px 0px 0px;
}
.progace-bar .right {
	width: 900px;
	height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
}
#booth-video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	height: 520px;
	width: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#experience-zone .home-container .nav-tabs {
	border-bottom: 0px solid #dee2e6;
}
#experience-zone.home-container .nav-tabs .nav-item {
	margin-bottom: 0;
}
#experience-zone .list-group-item a {
	padding: .75rem 1.25rem;
	display: inline-block;
	text-decoration: none;
}
#experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus, #experience-zone .list-group-item:hover, #experience-zone .list-group-item:focus {
	color: #fff;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 0;
}
#experience-zone .list-group-item:hover a, #experience-zone .list-group-item:focus a {
	color: #fff;
}
#experience-zone .home-container .nav-tabs .nav-link {
	padding: 10px 20px;
	border: 0 none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}
#experience-zone .home-container .nav-tabs .nav-item {
	margin-bottom: 0;
}
#experience-zone .home-container .tab-content>.tab-pane h1 {
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	line-height: 21px;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #3e3e3e;
}
#experience-zone .home-container p {
	font-size: 14px;
}
#experience-zone .list-group-item {
	padding: 0;
}
.btn-view {
	font-size: 14px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	text-transform: uppercase;
	border: 0 none;
	padding: 6px 20px;
}
.file {
	visibility: hidden;
	position: absolute;
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
	height: 0;
	margin: 0;
}
.file-upload {
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
	height: 0;
	margin: 0;
}
.custom-file-upload .btn {
	margin-top: 0;
}
.browse.btn.btn-primary span {
	position: relative;
}
#add-visit-menus {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 9;
}
#edit-booth-description {
	position: absolute;
	right: 25px;
	top: 50px;
}
.table td {
	vertical-align: middle;
	padding: .35rem 15px;
}
.main-large-view-booth .custom-file-upload {
	display: inline-block;
}
.btn-save, .btn-save2 {
	position: fixed;
	top: 30px;
	right: 20px;
	z-index: 9;
}
.btn-back {
	position: fixed;
	top: 30px;
	left: 20px;
	z-index: 9;
}
.dropdown.add-meeting .dropdown-menu {
	max-width: 360px;
	width: 100%;
}
button.remove-menu-item {
	color: #fff;
	background: #f00;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 9;
}
.btn.upload-menu-item:focus, .btn.upload-menu-item:hover {
	color: #000;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	outline: 0 none;
}
.btn:disabled {
	opacity: 1;
	background: #ccc;
	border-color: #ccc;
}
#add-meeting-source {
	position: absolute;
	max-width: 360px;
	width: 100%;
	text-align: left;
	z-index: 9;
	left: 50%;
	margin-left: -180px;
	top: 238px;
}
</style>
</head>
<body>
<div class="wrapper">
  <?php if(empty($pera)){ ?>
  <form id="sendNotification" role="form" enctype="multipart/form-data" method="post" action="/eventprogram/experirnce-zone" >
  <?php }else{ ?>
  <form id="sendNotification" role="form" enctype="multipart/form-data" method="post" action="<?php echo htmlspecialchars("/eventprogram/experirnce-zone/".$pera);?>" >
    <?php } ?>
    <main class="main-content pb-5 mb-3 bg-dark"> 
      <!-- START MAIN DIV Experience Zone -->
      <div id="experience-zone" class="container-fluid" style="background-color:#000;">
        <div class="progace-bar" id="pbBooth" style="display:none;">
          <div class="left"><img src="images/loading-bar.gif" width="300" height="60" alt=""/></div>
          <div class="right" id="LoadingBooths">Loading Booths ...</div>
        </div>
        <section style="display:none;" data-target-id="#img_scroll1">
          <div id="show-booth-video" class="collapse"><a href="javascript:void(0);" class="close-panel"><img src="images/close2.svg" width="20" onclick="closeexpzone();" alt="Close"></a>
            <iframe src="https://xs-worldwide.com/file/mtu/index.htm" frameborder="0" width="100%" height="100%" style="height:100%; width:100%;"></iframe>
          </div>
        </section>
        <section id="main-large-view-booth" class="main-large-view-booth position-relative" data-target-id="#img_scroll2">
          <div class="row">
            <div class="col-12 p-0">
              <div class="card rounded-0 main-large-view-booth bg-transparent border-0">
                <div class="card-body p-0 text-center view-booth-img d-flex justify-content-center align-items-center">
                  <div class="position-relative pt-5">
                    <?php if(empty($LargeBoothMedia[0]['media'])){ ?>
                    <img id="booth-preview" src="/eventTap/images/preview-booth.png" height="325" alt=""/>
                    <?php }else{ ?>
                    <img id="booth-preview" src="<?php echo $mediaUrl.$LargeBoothMedia[0]['media'] ?>" height="325" alt=""/>
                    <?php } ?>
                    <div class="btncolumns1 mt-2">
                      <div class="custom-file-upload">
                        <button id="btn-upload-img-large" type="button" class="browse btn btn-primary d-inline-flex justify-content-center align-items-center mr-3 mt-2" title="Upload Booth Image"><span><i class="fa fa-camera mr-2"></i></span>Upload Large Image/Video</button>
                        <input type="file" name="attachment[]" class="file" accept="image/*" id="fup1">
                        <input type="text" class="form-control file-upload" disabled placeholder="Upload Large Image/Video" id="file1">
                        <small>Dimension: 850x375 pixels</small> </div>
                      <div class="custom-file-upload">
                        <button type="button" class="browse1 btn btn-primary d-inline-flex justify-content-center align-items-center mt-2" title="Upload Booth Image"><span><i class="fa fa-camera mr-2"></i></span>Upload Small Image</button>
                        <?php if(empty($getBoothSmallMedia[0]['media'])){ ?>
                        <button type="button" class="btn btn-success mt-2" title="Preview Small Booth Image"  data-toggle="modal" data-target="#PreviewModal" disabled=""><span><i class="fa fa-eye"></i></span></button>
                        <?php }else{ ?>
                        <button type="button" class="btn btn-success mt-2" title="Preview Small Booth Image"  data-toggle="modal" data-target="#PreviewModal"><span><i class="fa fa-eye"></i></span></button>
                        <?php } ?>
                        <input type="file" name="smallBoothMedia[]" class="file" accept="image/*" id="fup2">
                        <input type="text" class="form-control file-upload" disabled placeholder="Upload Small Image" id="file2">
                        <small>Dimension: 500x225 pixels</small> </div>
                      <button class="btn btn-success btn-lg d-none btn-save" type="submit" id="btn-save1"><span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> <i class="fa fa-save mr-2"></i> Save</button>
                    </div>
                    <div class="add-meeting">
                      <button class="btn btn-primary" type="button" id="AddMeetingButton" data-toggle="collapse" data-target="#add-meeting-source" aria-expanded="false" aria-controls="add-meeting-source"> Add Meeting <i class="fa fa-caret-down ml-2"></i></button>
                      <div id="add-meeting-source" class="card collapse">
                        <div class="card-body">
                          <div class="alert alert-success"  role="alert" id="meetingUrlAlert" style="display:none;"> Meeting Url Updated Successfully !!</div>
                          <div class="form-group">
                              
                            <div class="custom-control custom-radio" >
                                <input type="radio" id="customRadio1" name="customRadio" value="internal"  class="custom-control-input" onclick="checkRadioButtonVal('interal');">
                              <label class="custom-control-label" for="customRadio1">Use internal</label>
                            </div>
                              
                            <div class="custom-control custom-radio mt-2" >
                                <input type="radio" id="customRadio2" name="customRadio"  value="external" class="custom-control-input" onclick="checkRadioButtonVal('external');">
                              <label class="custom-control-label" for="customRadio2">Or Use external</label>
                            </div>
                              
                          </div>
                          <div class="form-group" id="meetingUrlExt" style="display:none;">
                            <input type="text" class="form-control" name="meetingUrl" id="meetingUrl" placeholder="Meeting URL">
                          </div>
                          <div class="form-group m-0">
                            <button class="btn btn-success rounded mr-2" type="button" onclick="updateMeetingUrl('<?php echo $boothId ?>');"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger rounded" type="button" data-toggle="collapse" data-target="#add-meeting-source"><i class="fa fa-times"></i></button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/application/index/index" class="btn btn-primary btn-back" type="submit" id="other"><img src="/eventTap/images/back_white.svg" class="mr-2" width="18" alt="">Go Back</a> 
                <!--              </form>-->
                <div class="card-footer bg-white booth-buttons-next-prev mt-0 mb-3 pt-0 pb-0 border-top border-dark rounded-0">
                  <div class="row d-flex">
                    <div class="col bg-white text-center">
                      <ul id="booth-main-menu" class="list-group list-group-horizontal d-flex justify-content-center booth-main-menu">
                        <?php foreach ($menuItems as $key=>$val){ ?>
                        <li class="list-group-item rounded-0"><a href="<?php echo $val['url']; ?>" target="_blank"><?php echo $val['menuName']; ?></a>
                          <button type="button" class="upload-menu-item btn p-0 d-inline-block mr-2" type="button" data-toggle="modal" data-target="#EditMenuItemModal" onclick="editMenuItem('<?php echo base64_encode($val['id']); ?>');">
                          <i class="fa fa-pencil"></i>
                          </button>
                          <button type="button" class="remove-menu-item btn p-0" onclick="deleteMenuItems('<?php echo base64_encode($val['id']); ?>');"><i class="fa fa-times"></i></button>
                        </li>
                        <?php } ?>
                      </ul>
                      <button class="btn btn-add btn-dark" id="add-visit-menus" data-toggle="modal" data-target="#BoothVisitMenuModal" type="button" ><i class="fa fa-plus"></i> Add Menu</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- section Large Booth Details STARTS -->
        <section class="pb-2 home-container" data-target-id="#img_scroll2">
          <div class="row">
            <div class="col p-0">
              <input type="hidden" value="" name="myTab" id="myTabValue">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                
                <!--            <li class="nav-item" role="presentation"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" onclick="getActiveTabValue();" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-building"></i> Description</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-play-circle-o"></i> Videos</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-file-text-o"></i> Documents</a> </li>-->
                
                <li class="nav-item" role="presentation"> <a class="nav-link" id="home-tab"  data-toggle="tab" href="#home" onclick="getActiveTabValue('home-tab');" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-building"></i> Description</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="profile-tab" value="profile" data-toggle="tab" href="#profile" onclick="getActiveTabValue('profile-tab');" role="tab" aria-controls="profile" aria-selected="true"><i class="fa fa-play-circle-o"></i> Videos</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="contact-tab" value='contact' data-toggle="tab" href="#contact" onclick="getActiveTabValue('contact-tab');" role="tab" aria-controls="contact" aria-selected="true"><i class="fa fa-file-text-o"></i> Documents</a> </li>
              </ul>
              <div class="tab-content bg-white" id="myTabContent"> 
                <!--<div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">-->
                <div class="tab-pane fade p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <button id="edit-booth-description" class="btn btn-dark btn-edit" type="button" data-toggle="modal" data-target="#EditBoothDescriptionModal"><i class="fa fa-pencil mr-2"></i> Edit</button>
                  <h1><?php echo $boothDetail[0]['title']; ?> </h1>
                  <p><?php echo $boothDetail[0]['description']; ?></p>
                </div>
                <div class="tab-pane fade p-0" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <table class="table table-striped  table-hover table-sm m-0">
                    <tbody>
                      <?php foreach ($getBoothVideos as $key=>$val){ ?>
                      <tr>
                        <td width="60%"><?php if(!empty($val['boothVideoTitle'])){ echo $val['boothVideoTitle'];}else{echo $val['mediaName'];} ?></td>
                        <td width="30%" align="right"><button class="btn btn-success" type="button" data-toggle="modal" data-target="#videoModal" onclick="playBoothVideo('<?php echo $val['boothId']; ?>','<?php echo $val['id']; ?>');"><i class="fa fa-youtube-play"></i> Play</button></td>
                        <td width="10%" align="right"><div class="btn-group" role="group" > 
                            <!--<button class="btn btn-primary rounded mr-2"><i class="fa fa-pencil"></i></button>-->
                            <button type="button" class="btn btn-primary rounded mr-2" type="button" data-toggle="modal" data-target="#EditVdoModal" onclick="getVideoTitle('<?php echo base64_encode($val['id']); ?>');">
                            <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary round' mr-2"><i class="fa fa-trash" onclick="deleteBoothVdo('<?php echo base64_encode($val['id']) ?>');"></i></button>
                            <!--<button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>--> 
                          </div></td>
                      </tr>
                      <?php } ?>
                      <tr>
                        <td width="60%"><input type="text" class="form-control" name="boothVideoitle" placeholder="Enter Title..."></td>
                        <td width="30%" align="left" valign="top"><input type="text" name="boothVideoUrl" class="form-control d-inline-block w-75" placeholder="Video URL">
                          <label>or</label>
                          <div class="custom-file-upload d-inline-block">
                            <button type="button" class="browse3 btn btn-primary mr-2 rounded" title="Upload"><i class="fa fa-cloud-upload"></i></button>
                            <input type="file" name="attachment3[]" class="file" accept="image/*" id="fup3">
                            <input type="text" class="form-control file-upload d-none" disabled placeholder="Upload" id="file3">
                          </div></td>
                        <td width="10%" align="right"><div class="btn-group" role="group" > 
                            <!--<button class="btn btn-primary mr-2 rounded"><i class="fa fa-trash"></i></button>--> 
                            <!--<button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>--> 
                          </div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <table class="table table-striped  table-hover table-sm m-0">
                    <tbody>
                      <?php foreach($getBoothDocument as $key=>$val){?>
                      <tr> 
                        <!--<td width="60%">Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>-->
                        <td width="60%"><?php  if(!empty($val['Title'])){echo $val['Title'];}else{echo $val['mediaName'];}?></td>
                        <td width="30%" align="right"><a class="btn btn-success" href="<?php echo $mediaUrl.$val['media'] ?>" target="_blank"><i class="fa fa-file-text-o"></i> View</a></td>
                        <td width="10%" align="right"><div class="btn-group" role="group" >
                            <button type="button" class="btn btn-primary rounded mr-2" type="button" data-toggle="modal" data-target="#EditDocModal" onclick="getDocTitle('<?php echo base64_encode($val['id']); ?>');">
                            <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary rounded mr-2"><i class="fa fa-trash" onclick="deleteBoothDoc('<?php echo base64_encode($val['id']) ?>');"></i></button>
                          </div></td>
                      </tr>
                      <?php } ?>
                      <tr>
                        <td width="60%"><input type="text" name="docTitle" class="form-control" placeholder="Enter Title..."></td>
                        <td width="30%" align="right"></td>
                        <td width="10%" align="right"><div class="btn-group" role="group" >
                            <div class="custom-file-upload d-inline-block">
                              <button type="button" class="browse4 btn btn-primary mr-2 rounded" title="Upload Booth Image"><i class="fa fa-cloud-upload"></i></button>
                              <input type="file" name="attachment4[]" class="file" accept="image/*" id="fup4">
                              <input type="text" class="form-control file-upload" disabled placeholder="Upload" id="file4">
                            </div>
                            <!--<button class="btn btn-primary rounded mr-2"><i class="fa fa-trash"></i></button>--> 
                            <!--<button class="btn btn-primary rounded"><i class="fa fa-plus"></i></button>--> 
                          </div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- section Large Booth Details END --> 
        
      </div>
      <!-- END MAIN DIV Experience Zone --> 
      
    </main>
    <footer class="fixed-bottom w-100 p-1 text-center bg-success">
      <button  class="btn btn-primary pl-4 pr-4 pt-2 pb-2 text-uppercase" type="submit" id="other"> <span class="spinner-border spinner-border-sm mr-2" id="imgLoader" style="display:none !important;"   role="status" aria-hidden="true"></span> <i class="fa fa-save mr-3"></i>Save</button>
    </footer>
  </form>
</div>

<!--<input type="hidden" name="totalDismental" id="menuName" value="">-->

<div class="modal fade" id="BoothVisitMenuModal" tabindex="-1" role="dialog" aria-labelledby="BoothVisitMenuModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="BoothVisitMenuModalLabel">Booth MENU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12"> 
            
            <!--//add msg here-->
            <div class="alert alert-success" id="menuAlert" role="alert" style="display:none;"> Menu Added Successfully !!</div>
            <div class="form-group">
              <label>Menu Item Name</label>
              <input type="text" name="menuName" id="menuName" class="form-control">
            </div>
            <div class="form-group">
              <label>URL</label>
              <input type="url"  name="url" id="url" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="saveMenuItems('<?php echo $boothId ?>');"> <span class="spinner-border spinner-border-sm mr-2"  role="status" aria-hidden="true" style="display:none;" id="loader1" ></span> Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="EditBoothDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="EditBoothDescriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="EditBoothDescriptionModalLabel">ADD DESCRIPTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<?php echo $boothDetail[0]['title']; ?>">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" id="description" name="description" rows="7"><?php echo $boothDetail[0]['description']; ?>.</textarea>
        </div>
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  onclick="updateDescription('<?php echo $boothId ?>');"><span class="spinner-border spinner-border-sm mr-2" id="loader2" style="display:none;" role="status" aria-hidden="true"></span> Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="boothVideo"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""/></span> </button>
        <img id="booth-preview" src="<?php echo $mediaUrl.$getBoothSmallMedia[0]['media'] ?>" width="500" alt=""/> </div>
      <div class="modal-footer border-0 justify-content-center"><small>Dimension: 500x225 pixels</small> 
        <!--        <div class="custom-file-upload">
          <button type="button" class="browse1 btn btn-primary d-inline-flex justify-content-center align-items-center mt-2" title="Upload Booth Image"><span><i class="fa fa-camera mr-2"></i></span>Update Small Image</button>
          <input type="file" name="smallBoothMedia[]" class="file" accept="image/*" id="fup2">
          <input type="text" class="form-control file-upload" disabled placeholder="Upload Small Image" id="file2">
        </div>--> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="EditMenuItemModal" tabindex="-1" role="dialog" aria-labelledby="EditMenuItemModalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="EditMenuItemModalModalLabel">Update MenuItem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div id="menuItemsData"></div>
      </div>
    </div>
  </div>
</div>

<!--Update video title modal-->
<div class="modal fade" id="EditVdoModal" tabindex="-1" role="dialog" aria-labelledby="EditVdoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="EditVdoModalLabel">Update Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div id="boothVdoTitle"></div>
      </div>
      <!--      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="updateVdoTitle('<?php echo $boothId ?>');"><span class="spinner-border spinner-border-sm mr-2" id="loader3" style="display:none;" role="status" aria-hidden="true"></span> Save</button>
      </div>--> 
    </div>
  </div>
</div>

<!--Update Doc title modal-->
<div class="modal fade" id="EditDocModal" tabindex="-1" role="dialog" aria-labelledby="EditVdoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0 pt-2 pb-2">
        <h5 class="modal-title" id="EditDocModalLabel">Update Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt="Close"></span> </button>
      </div>
      <div class="modal-body">
        <div id="boothDocTitle"></div>
      </div>
    </div>
  </div>
</div>
<script src="/eventTap/js/jquery-3.5.1.min.js"></script> 
<script src="/eventTap/js/bootstrap.bundle.min.js"></script> 
<script>
$(document).ready(function(){
  
  
  
 $("#"+'<?php echo $pera;?>').addClass('active');

var pera='<?php echo $pera ?>'
//alert(pera); return false;

if(pera=="profile-tab"){
   $("#profile").addClass('show active');
    }else if(pera=="contact-tab"){
   $("#contact").addClass('show active');
    }else if(pera == "home-tab"){
    $("#home").addClass('show active');
    }else{
    $("#home").addClass('show active');
    }
});
</script> 
<script>
$( document ).ready(function() {
    
    

 

    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
	$(document).on("click", ".browse", function() { 
		$("#fup1").trigger("click"); 
	}); 
	
	$('#fup1').change(function(e) {
	var fileName = e.target.files[0].name;
	$("#file1").val(fileName);
		var reader = new FileReader();
		reader.onload = function(e) {
		// get loaded data and render thumbnail.
		document.getElementById("booth-preview").src = e.target.result;
	};
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});



 var isMobile1 = window.matchMedia("only screen and (max-width: 900px)").matches;
	$(document).on("click", ".browse1", function() { 
		$("#fup2").trigger("click"); 
	}); 
	
	$('#fup2').change(function(e) {
	var fileName = e.target.files[0].name;
	$("#file2").val(fileName);
		var reader = new FileReader();
		reader.onload = function(e) {
		// get loaded data and render thumbnail.
//		document.getElementById("booth-preview").src = e.target.result;
	};
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});



var isMobile1 = window.matchMedia("only screen and (max-width: 900px)").matches;
	$(document).on("click", ".browse3", function() { 
		$("#fup3").trigger("click"); 
	}); 
	
	$('#fup3').change(function(e) {
	var fileName = e.target.files[0].name;
	$("#file3").val(fileName);
		var reader = new FileReader();
		reader.onload = function(e) {
		// get loaded data and render thumbnail.
//		document.getElementById("booth-preview").src = e.target.result;
	};
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});



var isMobile1 = window.matchMedia("only screen and (max-width: 900px)").matches;
	$(document).on("click", ".browse4", function() { 
		$("#fup4").trigger("click"); 
	}); 
	
	$('#fup4').change(function(e) {
	var fileName = e.target.files[0].name;
	$("#file4").val(fileName);
		var reader = new FileReader();
		reader.onload = function(e) {
		// get loaded data and render thumbnail.
//		document.getElementById("booth-preview").src = e.target.result;
	};
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});



 });
 
 
  function updateDescription(boothId){
var description=$("#description").val();
var title=$("#title").val();
 $('#loader2').show();
 var tabName=$("#myTabValue").val();
// alert(tabName); return false;
if(tabName==""){
 var tabName="home-tab";  
}
 
$.ajax({
            type: "POST",
            url: '/eventprogram/updateBoothDetail',
            datatype:'json',
            data: {description:description,title:title,boothId:boothId},
            async: true,
            success:function(data){
               $('#loader2').hide();
               $("#EditBoothDescriptionModal").modal('hide'); 
                 alert(data.send.message);

//                window.location.reload();
                window.location.href="/eventprogram/experirnce-zone/"+tabName
                return true;
            
           },

            failure: (function () { alert("Failure!!"); })
        });


}
 
 
 
 function saveMenuItems(boothId){
     
     
     
    var menuName=$("#menuName").val();
    var url=$("#url").val();
    $("#menuAlert").hide();
    
    if(menuName==""){
        alert("Menu Name is require");
        return false;
       }
    
$.ajax({
            type: "POST",
            url: '/eventprogram/saveBoothMenuItem',
            datatype:'json',
            data: {menuName:menuName,url:url,boothId:boothId},
            async: true,
            success:function(data){
//             if(data.send.status==0){  
               $("#menuAlert").show();
//               $("#BoothVisitMenuModal").modal('hide');
//                alert(data.send.message);
                window.location.reload();
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}


 function updateMeetingUrl(boothId){
  var meetingUrl=$("#meetingUrl").val();
  var radioValue = $("input[name='customRadio']:checked").val();
// alert(radioValue); return false;
$.ajax({
            type: "POST",
            url: '/eventprogram/updateMeetingUrlOfExhibitor',
            datatype:'json',
            data: {meetingUrl:meetingUrl,boothId:boothId,radioValue:radioValue},
            async: true,
            success:function(data){
//                alert(data); return false;
                $("#meetingUrlAlert").show();
//                alert(data.send.message);
                window.location.reload();
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}


  function playBoothVideo(boothId,videoId){

$.ajax({
            type: "POST",
            url: '/eventprogram/exhibitorsBoothVideo',
            datatype:'json',
            data: {boothId:boothId,videoId:videoId},
            async: true,
            success:function(data){
               $('#boothVideo').html("");
                $('#boothVideo').html(data);
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}



function editMenuItem(itemId){
     $('#loader1').hide();
$.ajax({
            type: "POST",
            url: '/eventprogram/getMenuItems',
            datatype:'json',
            data: {itemId:itemId},
            async: true,
            success:function(data){
//             if(data.send.status==0){ 
//            alert(data); return false;
              $('#loader1').hide();
              $('#menuItemsData').html("");
              $('#menuItemsData').html(data);
                return true;
           },

            failure: (function () { alert("Failure!!"); })
        });


}






$( document ).ready(function() { 
  $("#sendNotification").submit(function(){
$('#imgLoader').show(); // show the animated image    
   $(':submit',this).attr('disabled','disabled'); // disable double submits
   return true; // allow regular form submission         
            
        });
      });
      
      
      
  function deleteMenuItems(menuItemId){
            var jobdata;
       var r = confirm("Confirm that you want to delete this menu item ?");
        if (r == true) {
             jobdata = {menuItemId:menuItemId};
        }  else {
            return false;
        }  
        $.ajax({
            type: "POST",
            url: '/eventprogram/delete-booth-menu-item',
            datatype:'json',
            data: jobdata,
            success: function (data) {
//                alert(data); return false;
           $('#imgLoader').hide();
            window.location.reload();
          },
                    
                failure: (function () { alert("Failure!!"); })
            });
        }    


   function deleteBoothDoc(itemId){
            var jobdata;
       var r = confirm("Confirm that you want to delete this doc ?");
        if (r == true) {
             jobdata = {itemId:itemId};
        }  else {
            return false;
        }  
        $('#imgLoader').hide();
        
        $.ajax({
            type: "POST",
            url: '/eventprogram/delete-booth-doc',
            datatype:'json',
            data: jobdata,
            success: function (data) {
//                alert(data); return false;
           $('#imgLoader').hide();
            window.location.reload();
          },
                    
                failure: (function () { alert("Failure!!"); })
            });
        }    

    
  function deleteBoothVdo(itemId){
            var jobdata;
       var r = confirm("Confirm that you want to delete this video ?");
        if (r == true) {
             jobdata = {itemId:itemId};
        }  else {
            return false;
        }  
        $('#imgLoader').hide();
        
        $.ajax({
            type: "POST",
            url: '/eventprogram/delete-booth-video',
            datatype:'json',
            data: jobdata,
            success: function (data) {
//                alert(data); return false;
           $('#imgLoader').hide();
            window.location.reload();
          },
                    
                failure: (function () { alert("Failure!!"); })
            });
        }
        
        
        
   



function getVideoTitle(videoId){
//    alert(videoId); return false;
$.ajax({
            type: "POST",
            url: '/eventprogram/boothVdoTitle',
            datatype:'json',
            data: {videoId:videoId},
            async: true,
            success:function(data){
//                alert(data); return false;
               $('#boothVdoTitle').html("");
                $('#boothVdoTitle').html(data);
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}



function getDocTitle(docId){
$.ajax({
            type: "POST",
            url: '/eventprogram/boothDocTitle',
            datatype:'json',
            data: {docId:docId},
            async: true,
            success:function(data){
//                alert(data); return false;
               $('#boothDocTitle').html("");
               $('#boothDocTitle').html(data);
                return true;
           },

            failure: (function () { alert("Failure!!"); })
        });


}

//    document.getElementById('home-tab').click();


function getActiveTabValue(tabValue){
$("#myTabValue").val(tabValue); 

}


//nav-link active
function checkRadioButtonVal(meetingType){
    
    var meetingTypeValue = meetingType
//    alert(meetingTypeValue); return false;
    if(meetingTypeValue=="external"){
       $('#meetingUrlExt').show();
    }else{
       $('#meetingUrlExt').hide();
    }
  }

        
	
</script>
</body>
</html>