<?php // echo '<pre>'; print_r($type); die(' lol');  ?>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage Videos</h1>
    </div>
      
    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#addVideoModal" onclick="addVideos('<?php echo $type;?>');"><i class="fa fa-plus mr-2"></i> ADD MEDIA</button>
    </div>
      
      
  </div>
  <input type="hidden" name="exportAction" id="exportAction" value="">
  <input type="hidden" name="type" id="filter" value="">
  <input type="hidden" name="pera" id="pera" value="<?php echo $type;?>">
  
  <div class="row bg-light">
    <div class="col-12 col-md-4 text-right"></div>
    <div class="col-12 d-flex justify-content-start align-items-center pt-1 pb-1">
      <ul class="subtitle list-unstyled m-0">
        <li id="all" class="active"> Total Videos: <span id="RowCount">0</span></li>
      </ul>
    </div>
  </div>
  <!--      <form>-->
  <div class="row mb-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Keyword and Category" aria-label="Search here by Agenda,Keyword and Category" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.manageVideos('all','0');"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
   
  
    
    
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?>
    <div class="col-12 pl-0 pr-0">
      <div id="resultData"></div>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 
<div class="clearfix"></div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" style="width: 330px;"> 
    <!-- Modal content-->
    <div class="modal-content modalcontect">
      <div class="modal-header" style=" padding: 0px 4px;border-bottom: none;min-height: 0px;"> </div>
      <div class="modal-body" style="    padding: 19px 15px;"> <img src="" id="notmedia" style="height: 200px;width: 300px;" /> </div>
    </div>
  </div>
</div>

<!--video-->
<div class="modal fade" id="videomodal2" role="dialog">
  <div class="modal-dialog" style="width: 330px;"> 
    <!-- Modal content-->
    <div class="modal-content modalcontect">
      <div class="modal-header" style=" padding: 0px 4px;border-bottom: none;min-height: 0px;"> </div>
      <div class="modal-body" style="padding: 19px 15px;">
        <iframe width="300" height="200" src="" id="notmediavideo"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Save video Modal -->
<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="SendPushModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="saveVideo"></div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script>
    
 function getMedia(media,type){
//     alert(media); return false;
    if(type==1){ 
     $("#notmedia").attr("src","");
     $("#notmedia").attr("src",media);
    }else {
      $("#notmediavideo").attr("src","");
     $("#notmediavideo").attr("src",media);   
    }
    return true;
 }     
    
    
    
  $(function(){
     drooly.manageVideos();
  });
  
$(document).ready(function(){
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});
 $('#search').keypress(function (e) {
      if (e.which == 13) {
        drooly.manageVideos('all',0);
        return false;    //<---- Add this line
      }
  }); 

</script>