 <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="menuItemInew" name="menuItemInew" value="<?php echo $boothMenuItems[0]['menuName']; ?>">
        </div>


        <div class="form-group">
          <label>Url</label>
          <input type="text" class="form-control" id="urlNew" name="urlNew" value="<?php echo $boothMenuItems[0]['url']; ?>">
        </div>

 <div class="form-group modal-footer rounded-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="updateMenuItems('<?php echo base64_encode($boothMenuItems[0]['id']) ?>');"><span class="spinner-border spinner-border-sm mr-2" id="loader2" style="display:none;" role="status" aria-hidden="true"></span> Save</button>
      </div>


<script>
    
   function updateMenuItems(boothId){
var urlNew=$("#urlNew").val();
var menuItem=$("#menuItemInew").val();
$.ajax({
            type: "POST",
            url: '/eventprogram/updateMenuItem',
            datatype:'json',
            data: {urlNew:urlNew,menuItem:menuItem,boothId:boothId},
            async: true,
            success:function(data){
//             if(data.send.status==0){ 
//             alert(data); return false;
//               $('#loader2').hide();
//                alert(data.send.message);
               $("#EditMenuItemModal").modal('hide'); 
                window.location.reload();
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


}   
    
    
 </script>   