<form   id="signupFirstEdit" role="form" enctype="multipart/form-data" method="post" action="/eventprogram/edit-users" name="registrationedit">   
      <div class="modal-header bg-primary text-white rounded-0">
        <h5 class="modal-title" id="AddAttendeeModalLabel"><?php if($action=="speaker"){echo "EDIT SPEAKER";}else{echo "EDIT ATTENDEE";}?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body pl-0 pr-0">
        <div class="card">
          <div class="card-body pt-0 pb-0">
            <div class="row">
    <input type="hidden" value="<?php echo $result['username'];?>" name='username'>
    <input type="hidden" value="<?php echo $action;?>" name='action' id="action">
              <div class="col-12 col-md-3 col-lg-2">
                <div class="profile-img"><img id="preview1" src="<?php echo $mediaUrl."profile/".$result['username'].".png"?>" alt="..."></div>
                <div class="btncolumns1">
                  <button type="button" class="browse1 btn btn-primary"><i class="fa fa-camera"></i></button>
                  <button class="btn btn-primary btn-lg d-none" type="submit" id="btn-save1">Save</button>
                </div>
                <div class="custom-file-upload">
                  <div id="msg"></div>
                  <input type="file" name="attachment" class="file" accept="image/*" id="fup2">
                  <div class="input-group">
                    <input type="text" class="form-control file-upload" disabled placeholder="Upload File" id="file2">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-9 col-lg-10">
                <div class="form-row">
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control"  name="fullName" id="firstName" required  placeholder="" autofocus value="<?php echo $result['firstName']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" placeholder="" name="lastName" id="lastName" value="<?php echo $result['lastName']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Gender</label>
                      <select class="custom-select" name="gender" id='gender'>
                        <option value="Male" <?php if($result['gender']== 'Male'){echo "selected";}?>>Male</option> 
                        <option value="Female" <?php if($result['gender']== 'Female'){echo "selected";}?>>Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="row">
                      <div class="col-12 col-md-5">
                        <div class="form-group">
                          <label>Country Code</label>
                          <input type="text" class="form-control" id="countryCode"  placeholder="" name="countryCode" value="<?php echo $result['countryCode']?>">
                        </div>
                      </div>
                      <div class="col-12 col-md-7">
                        <div class="form-group">
                          <label>Mobile Number</label>
                          <input type="text" class="form-control" id="phone"  placeholder="" name="phone" value="<?php echo $result['phone']?>">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" id="email"  placeholder="" name="email" required autofocus value="<?php echo $result['email']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Organization Name</label>
                      <input type="text" class="form-control" id="organizationName"  placeholder="" name="organizationName" value="<?php echo $result['companyName']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Designation</label>
                      <input type="text" class="form-control" id="title"  placeholder="" name="title" value="<?php echo $result['designation']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" id="city"  placeholder="" name="city" value="<?php echo $result['city']?>">
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Country</label>
                      <input type="text" class="form-control" id="country"  placeholder="" name="country" value="<?php echo $result['country']?>">
                    </div>
                  </div>
                   <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Linkedin Url</label>
                        <input type="text" class="form-control" id="linkedin"  placeholder="Enter Linkedin Url" name="linkedinUrl" value="<?php echo $result['linkedinUrl']?>">
                      </div>
                    </div>
                   <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="description"  placeholder="Enter Description" name="description" value="<?php echo $result['description']?>">
                      </div>
                    </div>   
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer rounded-0">
        <button type="submit" class="btn btn-primary pt-2 pb-2" id="other">Update</button>
        <button type="button" class="btn btn-secondary pt-2 pb-2" data-dismiss="modal">Cancel</button>
      </div>
     </form> 
<script>
$( document ).ready(function() {      
  var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
  $(document).on("click", ".browse1", function() {
   $("#fup2").trigger("click");
   console.log('hello');
}); 	
$('#fup2').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file2").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("preview1").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});	
 });
 $(document).ready(function (e) {   
   $("#signupFirstEdit").on('submit',(function(e){
  //  alert("lol");  
    var filter = $("#role").val();
    var page = $("#currentPage").val();
    var action = $("#action").val();
    e.preventDefault();
    $.ajax({
    url: "/eventprogram/edit-user", 
    type: "POST",             
    data: new FormData(this), 
    contentType: false,       
    cache: false,             
    processData:false,        
    dataType:'json',
    beforeSend: function (data) {
                //$("#startup").show();
                },
      success: function(data)
    {  
       $("#startup").hide();
       //console.log(data);
       if(data.send.status==0){ 
        alert(data.send.message);
        return false;
       } else {
         alert(data.send.message);
         if(action=="attende"){
          $('#EditAttendeeModal').modal('hide');
          drooly.getUserList(filter,page);
        }else{
          $('#EditSpeakerModal').modal('hide');
           drooly.getSpeakerList(filter,page);  
        }
      }
     }
   });
  }));
});
</script>    