<?php // echo '<pre>'; print_r($results); die; ?>

<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Registered Date </th>
                    <!--<th>First Name <a href="javascript:void(0);" class="sort-asec text-white" onclick="settableorder('firstName','asc')"><i class="fa fa-angle-up"></i></a><a href="javascript:void(0);" class="sort-desc text-white" onclick="setFirstNameOrder('firstName','desc')"><i class="fa fa-angle-down"></i></a></th>-->
                    <th>First Name </th>
                    <th>Last Name</th>
                     <th>UserType</th>  
                     <th>Email</th>
                     <th>Phone</th>
        <!--clg admission officer-->
                     <th>Country</th>
                     <th>College Name</th>
                     <th>Designation</th>
                     <th>Interested In Meeting</th>
                     <th>Popular Majors</th>
                     <!--student-->
                    <th>City</th>
                    <th>Parent Email</th>
                    <th>Parent Mobile</th>
                    <th>School</th>
                    <th>Class/Grade</th>
                    <th>Date Of Birth</th>
                    <th>Countries Interested In</th>
                     <th>Majors Interested In</th>
                     <th>Student Interest</th>
                
                     
                     <!--//For Organisation-->
                     <th>Organisation Name</th>
                    <th>Area Of service</th>
                    <th>IsAccept Disclaimer</th>
                    
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){  
         ?> 
      <tr>
                      
          <td><?php echo $page; ?></td>
           <td ><?php echo $result['date']?></td>
          
       <td ><?php echo $result['firstName']?></td>
       
        <td ><?php echo $result['lastName']?></td>
        <td ><?php echo $result['role']?></td>
        
        <td ><?php echo $result['email']?></td>
        <td ><?php echo $result['countryCode'].$result['phone']?></td>
        
        <td ><?php echo $result['country']?></td>
        <td ><?php echo $result['collegeName']?></td>
        <td ><?php echo $result['designation']?></td>
        <td ><textarea><?php if(!empty($result['interestedInMeeting'])){ echo $result['interestedInMeeting']; }else if(!empty($result['OrganisationInterestedInMeeting'])){ echo $result['OrganisationInterestedInMeeting']; }else{ echo ""; }  ?></textarea></td>
        <td ><textarea><?php echo $result['popularMajors']?></textarea></td>
        <td ><?php echo $result['city']?></td>
       <td ><?php echo $result['parentEmail']?></td>
        <td ><?php echo $result['parentMobile']?></td>
        <td ><?php echo $result['school']?></td>
        <td ><?php echo $result['ClassOrGrade']?></td>
        <td ><?php echo $result['dobStringDate']?></td>
        <td ><textarea><?php echo $result['countriesInterestedIn']?></textarea></td>
        <td ><textarea><?php echo $result['majorsInterestedIn']?></textarea></td>
        <td ><textarea><?php echo $result['studentsInterest']?></textarea></td>
        <td ><?php echo $result['companyName']?></td>
        <td ><textarea><?php echo $result['areaOfService']?></textarea></td>
        <td ><?php echo $result['isAcceptDesclaimer']?></td>

        
        
        
        
                  </tr>
                  <?php
             $page++;
                } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'manage-user-data'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
 }
});
</script>