<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage Agenda</h1>
    </div>
    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#AddAgendaModal" onclick="appendAddAgenda();"><i class="fa fa-plus mr-2"></i> ADD AGENDA</button>
    </div>
  </div>
  <input type="hidden" id='role' name='role' value=''>
<!--  <input type="hidden" name="page" id="currentPage" value=1>-->
  <input type="hidden" name="firstNameOrder" id="firstNameOrder" value="">
  <input type="hidden" name="exportAction" id="exportAction" value="">
  <input type="hidden" name="type" id="filter" value="">
  <input type="hidden" name="usernameonw" id="usernameonw" value="">
  <input type="hidden" name="lastUserId" id="lastUserId" value="<?php echo $lastUserId;?>">
  <div class="row bg-light">
    <div class="col-12 col-md-4 text-right"></div>
    <div class="col-12 d-flex justify-content-start align-items-center pt-1 pb-1">
      <ul class="subtitle list-unstyled m-0">
        <li id="all" class="active"> Total Agenda: <span id="RowCount">0</span></li>
      </ul>
    </div>
  </div>
  <!--      <form>-->
  <div class="row mb-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Keyword and Category" aria-label="Search here by Agenda,Keyword and Category" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.manageAgenda('all','0');"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2 d-flex align-items-center justify-content-md-end">
      <div class="input-daterange input-group date" id="Rangedatepicker" data-date-format="yyyy-mm-dd"> <!--<span class="input-group-text rounded-0 border-0">From</span>-->
        <input type="text" class="input-sm form-control"  aria-describedby="Sel-from-date" placeholder="From Date" id="datefilter" name="datefilter" />
        <div class="input-group-append"> <span class="input-group-text input-group-addon" id="Sel-from-date"><i class="fa fa-calendar"></i></span> </div>
        <!--<span class="input-group-text rounded-0 border-0">to</span>-->
        <div class="input-group-append"><button type="button" class="btn btn-primary ml-2 rounded" onclick="drooly.manageAgenda('all','0');">Show</button></div>
      </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2 col-xl-2 mt-2 d-flex align-items-center">
        <select class="custom-select" id="keyWordFilter" onchange="drooly.manageAgenda('all','0');">
            <option value="" selected>KeyWord</option>
                    <?php foreach($agendaKeyWord as $keyword){?>
              <option value="<?php echo $keyword['keyWord']?>"><?php echo $keyword['keyWord']?></option>
             <?php }?>
                 </select>
    </div>
    <div class="col-12 col-md-2 col-lg-2 col-xl-2 mt-2 d-flex align-items-center">
        <select class="custom-select" id="agendaLocation" onchange="drooly.manageAgenda('all','0');">
            <option value="">Location</option>
                    <?php foreach($agendaLocation as $location){?>
         <option value="<?php echo $location['location']?>"><?php echo $location['location']?></option>
         <?php }?>
                 </select>
    </div>  
    
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?>
    <div class="col-12 pl-0 pr-0">
      <div id="resultData"></div>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 

<!-- Button trigger modal -->
<!-- Send Push Modal -->
<div class="modal fade" id="AddAgendaModal" tabindex="-1" role="dialog" aria-labelledby="AddAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="appendAddAgenda"></div>
    </div>
  </div>
</div>
<!-- Send Push Modal -->
<div class="modal fade" id="editAgendaModal" tabindex="-1" role="dialog" aria-labelledby="editAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="appendAgenda"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="editAgendaModalConference" tabindex="-1" role="dialog" aria-labelledby="editAgendaModalConferenceLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="appendAgendaConference"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="addScSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="addScSpeakerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="addScSpeaker"></div>
    </div>
  </div>
</div>
<!-- body-row END --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script>
  $(function(){
     drooly.manageAgenda('all','<?php echo $page;?>');
  });
$(document).ready(function(){
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});
 $('#search').keypress(function (e) {
      if (e.which == 13) {
        drooly.manageAgenda('all',0);
        return false;    //<---- Add this line
      }
  }); 
$('#Rangedatepicker.input-daterange').datepicker({
    autoclose: true,
    todayHighlight: true
});
</script>