<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                    <th>Action</th>  
                    <th>Profile Pic</th>
                    <th>First Name <div class="sorting"><a href="javascript:void(0);" class="sort-asec text-white" onclick="settableorder('firstName','asc')"><i class="fa fa-angle-up"></i></a><a href="javascript:void(0);" class="sort-desc text-white" onclick="settableorder('firstName','desc')"><i class="fa fa-angle-down"></i></a></div></th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Organization Name</th>
                    <th>Designation</th>
                    <th>Linkedin Url</th>
                    <th>Description</th>
                    <th>Registered Date</th>
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){  
         ?> 
                  <tr id="<?php echo $result['username'];?>">
                    <td><a class="btn btn-outline-primary btn-sm btn-block" href="javascript:void(0);" onclick="deleteSpeaker('<?php echo base64_encode($result['username'])?>');"><i class="fa fa-remove"></i></a></td>  
                    <td class="profile-img-col" data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><img src="<?php echo $mediaUrl."profile/".$result['username'].".png"?>" alt=""/></td>
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['firstName']?></td>
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['lastName']?></td>
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['countryCode'].$result['phone']?></td>
                    <td class="email-col" scope="col" data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>');"><?php echo $result['email']?></td>
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['companyName']?></td>
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['designation']?></td>
                    <!--<td><?php echo $result['linkedinUrl'];?></td>-->
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['linkedinUrl'];?></td>
                    
                    <!--<td><?php echo $result['description'];?></td>-->
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><textarea><?php echo $result['description'];?></textarea></td>
                    
                    
                    <td data-toggle="modal" data-target="#EditSpeakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['username']);?>','speaker');"><?php echo $result['date']?></td>
                    
                  </tr>
                  <?php
             $page++;
                } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'manage-speaker-data'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});
</script>