<?php // echo '<pre>'; print_r($results); die(' jkjk'); ?>

<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <!--<th>Registered Date</th>-->
                    <th>Media</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){   ?> 
                    
                    
                     <tr>
                 
                     <td><?php echo $page; ?></td>
                     <!--<td ><?php echo $result['']?></td>-->
                 <td><?php if($result['type']==1){ ?>
                     <button type="button" class="telkom_btn add_btns whatsbtn" data-toggle="modal" data-target="#myModal" onclick="getMedia('<?php echo $mediaUrl.$result['media']?>','1')">View</button>
                         <?php } else {?>
                     <button type="button" class="telkom_btn add_btns whatsbtn" data-toggle="modal" data-target="#videomodal2" onclick="getMedia('<?php echo $mediaUrl.$result['media']?>','2')">View</button> 
                         <?php }?>
                 </td>
                
                    <td>
                        <?php if($result['status']==1){ ?>    

                        <div class="btn-group" role="group" aria-label=""><a class="btn btn-outline-primary btn-block rounded" href="javascript:void(0);" onclick="deleteVideos('<?php echo base64_encode($result['id'])?>','2');"><i class="fa fa-remove" title="Delete Media"></i></a></div>
                        <?php }else if($result['status']==2){ ?>
                         <div class="btn-group" role="group" aria-label=""> <a  href="javascript:void(0);" class="btn btn-outline-primary btn-sm rounded" title="Deleted Media">Deleted</a>
                        <a class="btn btn-outline-primary  btn-block ml-2 rounded" href="javascript:void(0);"  title="Revoke Media" onclick="deleteVideos('<?php echo base64_encode($result['id'])?>','1');"><i class="fa fa-revoke"></i>Revoke</a></div>
                        <?php } ?>
                    </td>  
                    
                    
<!--                    <td>
                      <div class="btn-group btn-group-sm">
                     <?php if($result['status']==1){ ?>    
                     <a   onclick="deleteWarehouse('<?php echo base64_encode($result['id']);?>','1');"><img src="/images/delete.png" width="24" height="24" alt=""/></a>
                     <?php }else if($result['status']==0){ ?>
                     <a  href="javascript:void(0);" class="btn btn-success btn-green" >Deleted</a>
                      <a class="btn btn-success btn-green"   onclick="deleteWarehouse('<?php echo base64_encode($result['id']);?>','2');">Revoke</a>
                    
                     <?php } ?>
                      </div>
                  </td>-->
                     
                     
                   
                  </tr>
                  <?php
             $page++;
                } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'manage-list-of-videos'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});
</script>