<?php // echo '<pre>'; print_r($getVideos); die(' lol'); ?>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage Video</h1>
    </div>
    
    <!--    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#AddAgendaModal" onclick="appendAddAgenda();"><i class="fa fa-plus mr-2"></i> ADD AGENDA</button>
    </div>--> 
    
  </div>
  <!--  <div class="row bg-light">
    <div class="col-12 col-md-4 text-right"></div>
    <div class="col-12 d-flex justify-content-start align-items-center pt-1 pb-1">
      <ul class="subtitle list-unstyled m-0">
        <li id="all" class="active"> Total Video: <span id="RowCount">0</span></li>
      </ul>
    </div>
  </div>--> 
  <!--      <form>-->
  <div class="row mb-2"> 
    <!--    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Keyword and Category" aria-label="Search here by Agenda,Keyword and Category" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.manageAgenda('all','0');"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>--> 
    
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?> 
    <!--<div class="col-12 pl-0 pr-0"><div id="resultData"></div> </div>-->
    
    <div class="table-responsive">
      <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Secton Name</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('Exterior'); ?>" >Exterior</a></td>
          </tr>
          <tr >
            <td>2</td>
            <!--<td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections"  onclick="getVideos('Exterior');">Exterior</a></td>-->
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('Entry desk'); ?>" >Entry Desk</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('Lobby'); ?>" >Lobby</a></td>
          </tr>
          <tr>
            <td>4</td>
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('Auditorium'); ?>"  >Auditorium</a></td>
          </tr>
          
          <tr>
            <td>5</td>
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('Networking'); ?>" >Networking</a></td>
          </tr>
          
          <tr>
            <td>6</td>
            <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/getVideosOfSections/<?php echo base64_encode('experienceZone'); ?>" >Experience Zone</a></td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script>
    
    
    

  
$(document).ready(function(){
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});



  
  
  
   
function getVideos(type){
//   alert(type); return false; 
    
    var ajaxData;
        
    ajaxData = {type:type};      
       $.ajax({
            type: "POST",
            url: '/eventprogram/getVideosOfSections',
            data: ajaxData,
            success: function (data) {
//                alert(data); return false;
//               alert("Grn Report save successfully");
//                location.reload();
           },
                    
               failure: (function () { alert("Failure!!"); })
           });    
                
  }   
  

</script>