<?php // echo '<pre>'; print_r($results); die(' jkjk'); ?>
<style>
.custom-control-label::before
{
	position: absolute;
	top: 0rem;
	left: -1.5rem;
	display: block;
	width: 37px;
	height: 35px;
	pointer-events: none;
	content: "";
	background-color: #fff;
	border: #000 solid 1px;
}
.custom-control-label::after
{
	position: absolute;
	top: 10px;
	left: -13px;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background: no-repeat;
	background-size: 15px;
}


</style>
<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">
<div class="table-responsive">
  <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Media Name</th>
        <th>Media</th>
        <th>Active / Inactive</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){   ?>
        
        
      <tr>
        <td><?php echo $page; ?></td>
        
        
      
        
        <td ><?php echo $result['mediaName']?></td>
        <td>
            <?php if($result['type']=="2"){ ?>
            <video id="myvideomultiple3" controls loop preload="auto" muted width="320" height="200">
             <source src="<?php echo $mediaUrl.$result['media'] ?>" />
          </video>
            <?php }else{ ?>
            <img source src="<?php echo $mediaUrl.$result['media'] ?>" width="320" height="200" />
            <?php } ?>
          </td>
          
            <td><?php if($result['status']==1){ ?>
        <label class="custom-radio">
	  <!--<input type="radio" value="2" name="status" <?php if($result['status']=="1"){echo "checked";}?>  onclick="deleteVideos('<?php echo base64_encode($result['id'])?>','2');">-->
	  <input type="radio" value="2" name="status" <?php if($result['status']=="1"){echo "checked";}?>  onclick="deleteVideos('<?php echo base64_encode($result['id'].'-'.$result['sectionType'])?>','2');">
	  
          <span class="checkmark"></span>
	</label>
  <?php }else if($result['status']==2){ ?>
          <label class="custom-radio">
	  <!--<input type="radio" value="1" name="status" <?php if($result['status']=="2"){echo " ";}?>  onclick="deleteVideos('<?php echo base64_encode($result['id'])?>','1');">-->
	  <input type="radio" value="1" name="status" <?php if($result['status']=="2"){echo "";}?>  onclick="deleteVideos('<?php echo base64_encode($result['id'].'-'.$result['sectionType'])?>','1');">
	 
          <span class="checkmark"></span>
	 </label>
          <?php } ?></td>
            
            
      <td><a class="btn btn-outline-primary btn-sm btn-block" href="javascript:void(0);" onclick="removeVideo('<?php echo base64_encode($result['id'])?>');"><i class="fa fa-remove"></i></a></td>  
     
          
      </tr>
      <?php
             $page++;
                } ?>
    </tbody>
  </table>
</div>
<div class="pagination-centered">
  <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'manage-list-of-videos'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});



  function formsubmit(id,value){
//     $( "#rsvpform").submit();
    var formData = {};
               formData['status'] =value;  
               formData['id'] =id;
    $.ajax({
			url:'/application/index/rsvp',
			method:'POST',
			datatype:'html',
			data:formData,
                        async: true,
                        beforeSend: function (data) {
                            $("#startup").show();
                        },
			success:function(data,status){
                           $('#invite .hidelo').hide();
                           $('#invite .thankyou').show();
                                    
			}
            });
    
}


</script>