
 <?php /// echo '<pre>'; print_r($results); die(' jkjk'); ?>
<style>
.table td, .table th {
    vertical-align: middle;
}
  </style>


<div class="table-responsive">
  <table class="table table-bordered bg-white client_table table-hover table-striped" id="myTable2">
    <thead>
      <tr>
        <th align="center" class="text-center">Drag</th>
        <th class="text-center">S.No</th>
        <th>Exhibitor</th>
        <th>Exhibitor Name</th>
        <th>Exhibitor Email</th>
        <th>Exhibitor Order</th>
        <th>Samll Media</th>
        <th>Large Media</th>
        <th>Edit Profile</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <?php 
      $counter = 1; 
      
      foreach ($results as $key=> $result){    ?>
      <tr>
       <td align="center"><i class="fa fa-bars"></i></td>
          
        <td class="text-center" data-id="<?php echo $result['id']; ?>"><?php echo $counter; ?></td>
         
          
        <td ><?php echo $result['boothName']?></td>
        <td ><?php echo $result['name']?></td>
        <td ><?php echo $result['email']?></td>
        <td ><?php echo $result['boothorder']?></td>
        <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/manage-booth-media/<?php echo base64_encode($result['id']); ?>" ><i class="fa fa-revoke"></i>View</a></td >
        <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/manage-booth-large-media/<?php echo base64_encode($result['id']); ?>" ><i class="fa fa-revoke"></i>View</a></td >
      
        <td><a class="btn btn-outline-primary btn-sm btn-block" href="/eventprogram/update-exhibitor-profile/<?php echo base64_encode($result['id']); ?>" ><i class="fa fa-edit"></i></a></td>  

        
        <td><?php if($result['status']== "1"){ ?>
        <label class="custom-radio">
	  <input type="checkbox" value="2" name="status" <?php if($result['status']=="1"){echo "checked";}?>  onclick="ActiveBooth('<?php echo base64_encode($result['id'].'-'.$result['username'])?>','2');">
          <span class="checkmark"></span>
	</label>
  <?php }else if($result['status']== "2"){ ?>
          <label class="custom-radio">
	  <input type="checkbox" value="1" name="status" <?php if($result['status']=="2"){echo "";}?>  onclick="ActiveBooth('<?php echo base64_encode($result['id'].'-'.$result['username'])?>','1');">
          <span class="checkmark"></span>
	 </label>
          <?php } ?></td>
        
        

        
      </tr>
      <?php $counter++; } //increment counter by 1 on every pass   ?>
    </tbody>
  </table>
  
</div>

<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
//  var lastUserId = $("#lastUserId").val();
//  if(lastUserId!=0){
//  location.hash = '#'+$("#lastUserId").val();
// }
});

  $(function() {
	  var t2SortOriginal=new Array();
	  var t2SortNew =new Array();
    $("#myTable2 tbody").sortable({
      cursor: "move",
      placeholder: "sortable-placeholder",
	  create: function( event, ui ) {
	 console.log('create');
	  t2SortOriginal=new Array();
	  $("#myTable2 tbody tr td:nth-child(2)").each(function(i,v){
			  var self=$(this);
//                          alert(self); return false;
			t2SortOriginal.push(self.attr('data-id'));		
});
	  },
	  stop: function( event, ui ) {
		  console.log('stop');
		  t2SortNew=new Array();
		  $("#myTable2 tbody tr td:nth-child(2)").each(function(i,v){
			  var self1=$(this);
			t2SortNew.push(self1.attr('data-id'));
});



//CALL AJAX HERE
 var pushdata;
        pushdata = {t2SortNew:t2SortNew,t2SortOriginal:t2SortOriginal};  
        $.ajax({
            type: "POST",
            url: "/eventprogram/saveBoothOrder",
            datatype:'html',
            data: pushdata,
            success: function (data) {
//                alert(data); return false;
              drooly.manageBooth();
            },
                failure: (function () { alert("Failure!!"); })
            });
			
        console.log('Old Values'+t2SortOriginal.toString());
	console.log('New Values'+t2SortNew.toString());
		  
	  },

      helper: function(e, tr)
      {
        var $originals = tr.children();
        var $helper = tr.clone();
        $helper.children().each(function(index)
        {
        // Set helper cell sizes to match the original sizes
        $(this).width($originals.eq(index).width());
        });
        return $helper;
      }
    }).disableSelection();
  });

</script>