<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage Speaker</h1>
    </div>
    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#AddSpeakerModal"><i class="fa fa-plus mr-2"></i> ADD SPEAKER</button>
    </div>
  </div>
  <input type="hidden" id='role' name='role' value=''>
  <input type="hidden" name="page" id="currentPage" value=1>
  <input type="hidden" name="firstNameOrder" id="firstNameOrder" value="">
  <input type="hidden" name="exportAction" id="exportAction" value="">
  <input type="hidden" name="type" id="filter" value="">
  <input type="hidden" name="usernameonw" id="usernameonw" value="">
  <input type="hidden" name="lastUserId" id="lastUserId" value="<?php echo $lastUserId;?>">
  <div class="row bg-light">
    <div class="col-12 col-md-8 pt-1 d-flex justify-content-start align-items-center">
      <h5 class="m-0">Summary</h5>
      <a href="javascript:void(0)" class="show-graph ml-3" data-toggle="collapse" data-target="#show-summary-chart" aria-expanded="false" aria-controls="show-summary-chart"><img src="/eventTap/images/pie-chart.png" class="mr-1" width="20" height="20" alt=""/> <small>Hide Graph</small></a> 
    </div>
    <div class="col-12 col-md-4 text-right"></div>
    <div class="col-12 d-flex justify-content-start align-items-center pt-1 pb-1">
      <ul class="subtitle list-unstyled m-0">
        <li id="all" class="active"> Total Speaker: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('all',0);"><?php echo $userCounter['all']; ?></a></li>  
        <li id="totalLogin" style="color:#3366cc;"> Total Login: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('totalLogin',0);" style="color:#3366cc;"><?php echo $userCounter['totalLogin']; ?></a>
        <li id="iosLogin" style="color:#dc3912;">iOS Login: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('iosLogin',0);" style="color:#dc3912;"><?php echo $userCounter['iosLogin']; ?></a></li>
        <li id="androidLogin" style="color: #ff9900;"> Android Login: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('androidLogin',0);" style="color: #ff9900;"><?php echo $userCounter['androidLogin']; ?></a></li>
        <li id="notLogin" style="color: #109618;"> Total NotLogin: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('notLogin',0);" style="color: #109618;"><?php echo $userCounter['notLogin']; ?></a>
        <li id="webLogin" style="color: #109618;"> Total WebLogin: <a href="javascript:void(0)" onclick="drooly.getSpeakerList('webLogin',0);" style="color: #109618;"><?php echo $userCounter['webLogin']; ?></a>
      
      </ul>
    </div>
  </div>
  <div class="row bg-white in collapse show" id="show-summary-chart">
    <div class="col-12 pl-0 pr-0">
      <div class="card mt-0 mb-3 rounded-0 border-0 border-bottom">
        <div class="card-body d-flex justify-content-center p-0">
          <div id="chart_div" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <!--      <form>-->
  <div class="row mb-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Name, Email" aria-label="Search here by Name,Email" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.getSpeakerList('all',0);"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2 d-flex align-items-center justify-content-md-end">
      <div class="input-daterange input-group date" id="Rangedatepicker" data-date-format="yyyy-mm-dd"> <!--<span class="input-group-text rounded-0 border-0">From</span>-->
        <input type="text" class="input-sm form-control" name="start" aria-describedby="Sel-from-date" placeholder="From Date" id="fromDate" />
        <div class="input-group-append"> <span class="input-group-text input-group-addon" id="Sel-from-date"><i class="fa fa-calendar"></i></span> </div>
        <!--<span class="input-group-text rounded-0 border-0">to</span>-->
        <input type="text" class="input-sm form-control" name="end" aria-describedby="Sel-End-date" placeholder="To Date" id="toDate"/>        
        <div class="input-group-append"><button type="button" class="btn btn-primary ml-2 rounded" onclick="drooly.getSpeakerList('all',0);">Show</button></div>
      </div>
    </div>
<!--    <div class="col-12 col-md-2 col-lg-2 col-xl-2 mt-2 d-flex align-items-center">
        <select class="custom-select" id="cityFilter" onchange="drooly.getSpeakerList('all',0);">
            <option value="" selected>Select City</option>
                    <?php //foreach($cityFilter as $value){?>
                    <option value="<?php //echo $value['city']?>"><?php //echo $value['city']?></option>
                    <?php //}?>  
                 </select>
    </div>-->
    <div class="col-12 col-md-2 col-lg-3 col-xl-3 mt-2 d-flex align-items-center justify-content-end">
      <div class="btn-group">
        <button class="btn btn-primary rounded mr-2" type="button" id="inputGroupFileAddon04" data-toggle="modal" data-target="#importModal"><i class="fa fa-download d-none"></i> Import</button>
<!--        <button class="btn btn-primary rounded" type="button" onclick="convertlisttoexcel();"><i class="fa fa-file-excel-o d-none"></i> Export to Excel</button>-->
      </div>
    </div>
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?>
    <div class="col-12 pl-0 pr-0">
      <div id="resultData"></div>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 

<!-- Button trigger modal --> 

<!-- Modal -->
<div class="modal fade" id="AddSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="AddSpeakerModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <form   id="speakersignup" role="form" enctype="multipart/form-data" method="post" action="/eventprogram/add-speaker" name="registration">
        <div class="modal-header bg-primary text-white rounded-0">
          <h5 class="modal-title" id="AddSpeakerModalLabel">ADD SPEAKER</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body pl-0 pr-0">
          <div class="card">
            <div class="card-body pt-0 pb-0">
              <div class="row">
                <div class="col-12 col-md-3 col-lg-2 text-center">
                  <div class="profile-img"><img id="preview" class="border" src="/eventTap/images/TRA_Avatar.png" alt="..."></div>
                  <div class="btncolumns1">
                    <button type="button" class="browse btn btn-primary"><i class="fa fa-camera"></i></button>
                    <button class="btn btn-primary btn-lg d-none" type="submit" id="btn-save1">Save</button>
                  </div>
                  <div class="custom-file-upload">
                    <div id="msg"></div>
                    <input type="file" name="attachment" class="file" accept="image/*" id="fup1">
                    <div class="input-group">
                      <input type="text" class="form-control file-upload" disabled placeholder="Upload File" id="file1">
                    </div>
                  </div>
                  <small>Max. File Size: 2 MB</small>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                  <div class="form-row">
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control"  name="firstName" id="firstName" required  placeholder="" autofocus>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="" name="lastName" id="lastName">
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Gender</label>
                        <select class="custom-select" name="gender" id='gender'>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="row">
                        <div class="col-12 col-md-5">
                          <div class="form-group">
                            <label>Country Code</label>
                            <input type="text" class="form-control" id="countryCode"  placeholder="" name="countryCode">
                          </div>
                        </div>
                        <div class="col-12 col-md-7">
                          <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="number" class="form-control" id="phone"  placeholder="" name="phone">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email"  placeholder="" name="email" required autofocus>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Organization Name</label>
                        <input type="text" class="form-control" id="organizationName"  placeholder="" name="organizationName">
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Designation</label>
                        <input type="text" class="form-control" id="title"  placeholder="" name="title">
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" id="city"  placeholder="" name="city">
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" id="country"  placeholder="" name="country">
                      </div>
                    </div>
                      
                      <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Linkedin Url</label>
                        <input type="text" class="form-control" id="linkedin"  placeholder="Enter Linkedin Url" name="linkedinUrl">
                      </div>
                    </div>
                      
                     <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="description"  placeholder="Enter Description" name="description">
                      </div>
                    </div>  
                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer rounded-0">
          <button type="submit" class="btn btn-primary pt-2 pb-2" id="other1">Submit</button>
          <button type="button" class="btn btn-secondary pt-2 pb-2" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Attendee Modal -->
<div class="modal fade" id="EditSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="EditSpeakerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="transport1"></div>
    </div>
  </div>
</div>
<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0">
        <h5 class="modal-title" id="importModalLabel">Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <h4>Upload Users</h4>
        <p>The contact list can in Microsoft Excel format, however, we recommend that you save the file in xlsx format. The columns can be in any order.</p>
        <p class="text-center"> <a href="/uploadedFiles/SampleXls/SpeakerImportSample.xlsx">
          <button type="button" class="btn btn-outline-secondary mt-3 mb-3"><i class="fa fa-download"></i> Download Example File (xlsx)</button>
          </a> </p>
        <p class="text-center">Maximum 20,000 rows</p>
        <form enctype="multipart/form-data" method="post" role="form" class="text-center" action="/eventprogram/manage-speaker">
          <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="file">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
            </div>
          </div>
        </form>
        <p>You can remove previously opted-out Line items from this list after the import by clicking the Remove Opted-out Line items button</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- body-row END --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Login', <?php echo $userCounter['totalLogin']; ?>],
          ['iOS Login', <?php echo $userCounter['iosLogin']; ?>],
          ['Android Login', <?php echo $userCounter['androidLogin']; ?>],
          ['Not Login', <?php echo $userCounter['notLogin']; ?>]
        ]);

        // Set chart options
        var options = {'title':'', legend: 'none', is3D: true, pieSliceText: 'value', width: '100%', height: '400'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
$( document ).ready(function() {      
    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
	 $(document).on("click", ".browse", function() { 
  $("#fup1").trigger("click"); 
}); 
	
 $('#fup1').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file1").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("preview").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});
		
 });

        $(".show-graph small").click(function () {
            $(this).text(function(i, v){
               return v === 'Show Graph' ? 'Hide Graph' : 'Show Graph'
            })
        });
</script> 
<script>
  $(function(){
	drooly.getSpeakerList('<?php echo $filter;?>','<?php echo $page;?>');
   });
$(document).ready(function(){
  
   $("#"+'<?php echo $filter;?>').addClass('active'); 
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});
function settableorder(type,value){
  if(type=="firstName"){
    $("#firstNameOrder").val(value);
     drooly.getSpeakerList('all',0);
     return true;
  }
  return false;
    
}
  
 $('#search').keypress(function (e) {
      if (e.which == 13) {
       drooly.getSpeakerList('all',0);
        return false;    //<---- Add this line
      }
 });
$(document).ready(function (e) {   
   $("#speakersignup").on('submit',(function(e){
    var filter = $("#role").val();
    var page = $("#currentPage").val();
    e.preventDefault();
    $.ajax({
    url: "/eventprogram/add-speaker", 
    type: "POST",             
    data: new FormData(this), 
    contentType: false,       
    cache: false,             
    processData:false,        
    dataType:'json',
    beforeSend: function (data) {
                //$("#startup").show();
                },
      success: function(data)
    {
       $("#startup").hide();
       if(data.send.status==0){ 
       alert(data.send.message);
       return false;
       } else {
         alert(data.send.message);
         $('#AddSpeakerModal').modal('hide');
         drooly.getSpeakerList(filter,1);
      }
     }
   });
  }));
});
$('#Rangedatepicker.input-daterange').datepicker({
    autoclose: true,
    todayHighlight: true
});
</script>