<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 col-md-8 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Manage User</h1>
    </div>
    <div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end align-items-center pb-3 pb-md-0 mt-3 mt-md-0">
    </div>
  </div>
  <input type="hidden" id='role' name='role' value=''>
  <input type="hidden" name="page" id="currentPage" value=1>
  <input type="hidden" name="firstNameOrder" id="firstNameOrder" value="">
  <input type="hidden" name="exportAction" id="exportAction" value="">
  <input type="hidden" name="type" id="filter" value="">
  <input type="hidden" name="usernameonw" id="usernameonw" value="">
  
  
  <div class="row bg-light">
   <div class="col-12 pt-1 pb-1"><ul id="client-stats" class="subtitle list-unstyled m-0">
          
<!--  <div class="subtitle list-unstyled m-0" >Total: <span class="text-green mr-4"  id="RowCount">0</span></div>-->
             
        <li id="totalLogin" class="client-stats"> Total Users: <a href="javascript:void(0)" onclick="drooly.getUserList('totalUsers');" ><?php echo $userCounter['totalUsers']; ?></a>
        <li id="totalLogin" class="client-stats"> Total Students: <a href="javascript:void(0)" onclick="drooly.getUserList('totalStudents');" ><?php echo $userCounter['totalStudents']; ?></a>
        <li id="totalLogin" class="client-stats">College Admissions Officers : <a href="javascript:void(0)" onclick="drooly.getUserList('totalAdmissionOfficer');" ><?php echo $userCounter['totalAdmissionOfficer']; ?></a>
        <li id="totalLogin" class="client-stats"> High School Counsellors: <a href="javascript:void(0)" onclick="drooly.getUserList('highSchoolCounsellor');" ><?php echo $userCounter['highSchoolCounsellor']; ?></a>
        <li id="totalLogin" class="client-stats">Organizations: <a href="javascript:void(0)" onclick="drooly.getUserList('organisation');" ><?php echo $userCounter['organisation']; ?></a>
      </ul></div>
      
  </div>
  
  <!--      <form>-->
  <div class="row mb-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2 d-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here by Name, Email" aria-label="Search here by Name,Email" aria-describedby="button-addon" id="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon" onclick="drooly.getUserList('all',0);"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
      
    
  </div>
  <div class="row"> <?php echo  $this->partial("flash/message"); ?>
    <div class="col-12 pl-0 pr-0">
      <div id="resultData"></div>
    </div>
  </div>
  <!--      </form>--> 
</div>
<!-- Main Col END --> 

<!-- body-row END --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<script type="text/javascript">

  $(function(){
	drooly.getUserList('<?php echo $filter;?>');
   });
$(document).ready(function(){
  
   $("#"+'<?php echo $filter;?>').addClass('active'); 
   $('.subTitle h4 a').click(function(){
     $('.subTitle h4').removeClass('active');
     $(this).parent().addClass('active');
   });
});
function setFirstNameOrder(type,value){
  if(type=="firstName"){
    $("#firstNameOrder").val(value);
     drooly.getUserList();
     return true;
  }
  return false;
    
}
  
 $('#search').keypress(function (e) {
      if (e.which == 13) {
//       drooly.getUserList('all');
       drooly.getUserList('totalUsers');
       
       //
        return false;    //<---- Add this line
      }
    });


 $('#client-stats .client-stats').on('click', function(){
    $('.client-stats.active').removeClass('active');
    $(this).addClass('active');
    }); 

</script>