<link rel="stylesheet" href="/eventTap/css/bootstrap-datetimepicker.min.css" />
<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                <th>Action</th>
                <th>Add Conference</th>
                <th>Type</th>
                <th>Title</th>
                <th>Location</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>TimeDuration</th>
                <th>Color</th>
                <th>Theme</th>                
                <th>KeyWord</th>
<!--                <th style="width:10%;">KeyWordDesc</th> -->
                <th>Speaker</th>
                 <th>Meeting Host</th>
                <th>Registered Date</th> 
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){  
         ?> 
                <tr id="<?php echo $result['id'];?>">
               <td><div class="btn-group" role="group" aria-label="">
              <a class="btn btn-outline-primary btn-sm rounded" href="javascript:void(0);" onclick="deleteRecord('agenda','<?php echo base64_encode($result['id'])?>');"><i class="fa fa-remove" title="Delete Agenda"></i></a>
              <a class="btn btn-outline-primary btn-sm ml-2 rounded" href="javascript:void(0);" onclick="appendscspeaker('<?php echo base64_encode($result['id'])?>','agenda');" data-toggle="modal" data-target="#addScSpeakerModal"><i class="fa fa-plus"  title="Add Speaker"></i></a>   </div>  
               </td>
               <td><a class="btn btn-outline-primary btn-sm btn-block" href="#" data-toggle="modal" data-target="#editAgendaModalConference" onclick="appendAgendaConference('<?php echo base64_encode($result['id']);?>');">Add Conference</a></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['itemType']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['title']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['location']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['startDateNew']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['endDateNew']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['timeDuration']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['color']?></td>
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['theme']?></td>                
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['keyWord']?></td>
<!--                <td style=""><?php //echo $result['keyWordDesc']?></td>   -->
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['speakerName']?></td>
                
                 <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['hostName']?></td>
               
                <td data-toggle="modal" data-target="#editAgendaModal" onclick="appendAgenda('<?php echo base64_encode($result['id']);?>');"><?php echo $result['date']?></td>
                  </tr>
                  <?php
             $page++;
                } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'eventprogram','action' => 'master-agenda-data'));
 ?>
</div>

<script type="text/javascript" src="/eventTap/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});

</script>