<?php 
$name = $this->name;
$custLib = new CustomLib\Controller\CustomController();
$userDetail  = $custLib->getLoggedInUserId();
$userDetail1 = $this->userProfile;

//echo '<pre>';print_r($name); die(' kjkjk');
?> 

<header class="border-bottom pt-2 pb-2 fixed-top bg-white d-none d-sm-none d-lg-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8"><h1 class="m-0" style="font-size:28px; font-weight:600;">CMS</h1><!--<img src="/eventTap/images/logo-web-transparent.png" height="35" alt="">--></div>
      <div class="col-12 col-md-4">
        <nav class="navbar justify-content-end p-0"> 
            <a class="navbar-brand p-0" href="#"> 
                <?php if($userDetail['user_type']=="3"){ ?>
                 <img src="https://s3-eu-west-1.amazonaws.com/riyalstory/profile/<?php echo $userDetail['username'].'.png' ?>" width="30" height="30" class="profile-img d-inline-block align-middle" alt=""><?php echo $name; ?></a>
               
                <?php }else{ ?>
                <img src="https://s3-eu-west-1.amazonaws.com/riyalstory/profile/1592492irnu.png" width="30" height="30" class="profile-img d-inline-block align-middle" alt=""> Admin </a>
                <?php } ?>
                <a href="/application/index/logout"><i class="fa fa-sign-out"></i></a> 
        </nav>
      </div>
    </div>
  </div>
</header>