<?php echo $this->doctype();?>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CMS</title>
<!--<link rel="shortcut icon" href="/ostrich/images/favicon.ico"/>-->
<?php echo $this->partial("layout/layoutscriptcss.phtml");?>
<style>
.card .profile-img
{
	overflow: hidden;
	width: 100%;
	height: 150px;
	margin-right: 20px;
	vertical-align: middle;
	border: solid 0 #009de0;
	outline: 0 none;
	box-shadow: none;
	border-radius: 0;
}
.card .profile-img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
a.change-profile-pic
{
	color: #767994;
	font-size: 17px;
	padding: 10px 15px;
	border-left: solid 1px #a6a6a6;
}
a.change-profile-pic span
{
	color: #009de0;
	font-size: 30px;
	vertical-align: middle;
}
.card
{
	box-shadow: none;
	border-radius: 0;
	border-width: 0;
}
.bg-primary { background-color: #009de0!important; }
.modal-content { border-radius: 0; }
.file
{
	visibility: hidden;
	position: absolute;
}
.file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
}
.custom-file-upload .btn
{
	margin-top: 21px;
	height: 80px;
}
button.browse.btn.btn-primary
{
	position: absolute;
	right: 10px;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	top: 125px;
}
button.browse1.btn.btn-primary
{
	position: absolute;
	right: 10px;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	top: 125px;
}
.table-bordered td, .table-bordered th { border-left: 0; }
.modal-header { padding: .5rem 1rem; }
.btn-summary
{
	font-size: 2em;
	opacity: .5;
	position: absolute;
	right: 20px;
	top: 7px;
	z-index: 99;
}
#chart_div div
{
	display: flex;
	justify-content: center;
}
.subtitle li
{
	display: inline-block;
	padding-right: 15px;
	font-size: 14px;
	padding-left: 15px;
	margin-right: 0;
	border-right: solid 1px rgba(0,0,0,.25);
}
.subtitle li:first-child
{
	padding-left: 0;
	border: 0;
	padding: 0;
}
.subtitle li:last-child { border-right: 0 none; }
.img-preview
{
	width: auto;
	height: auto;
	background: #fff;
	border-radius: 0;
	margin: 0 auto;
	border: none 0;
	overflow: hidden;
}
s @media only screen and (max-width:767px) {
.subtitle li {
 padding-right: 0;
 font-size: 14px;
 padding-left: 0;
 margin-right: 0;
 border-right: none 0;
 width: 100%;
}
}
</style>
</head>
<body>
<?php echo $this->partial("layout/header.phtml");?> 
<!--Navbar for Mobile Only-->
<nav class="navbar border-bottom d-block d-sm-block d-lg-none fixed-top bg-white"> <a class="navbar-brand" href="#">CMS<!--<img src="/eventTap/images/logo-web-transparent.png" height="40" alt=""/>--></a> <a href="#" data-toggle="sidebar-colapse" class=""><span id="collapse-icon2" class="ml-5 collapse-icon"><i class="fa fa-bars"></i></span></a> </nav>
<div class="container-fluid page-content">
  <div class="row"> <?php echo $this->partial("layout/side-menu.phtml");?> <?php echo $this->content;?> </div>
</div>

<!--    loader End--> 
<!--<div class="loading" style="display:flex;"><div><img src="/eventTap/images/loading.gif"><div></div></div></div>--> 
<?php echo $this->inlineScript();?> 
<script>
function cancelform(){
    window.history.back()
    return true;
}
</script> 

</body>
</html>