<?php  
if ($this->pageCount): ?>
     <div style="text-align: center !important;">
         <ul class="pagination">
             <!-- Previous page link -->
             <?php if (isset($this->previous)): ?>
                 <li>
                     <a onclick="paginatePrev('<?php echo $this->previous; ?>','<?php echo $this->action ?>')" href="javascript:void(0)">
                         <<
                     </a>
                 </li>
             <?php else: ?>
                 <li class="disabled">
                     <a href="#">
                         <<
                     </a>
                 </li>
             <?php endif; ?>

             <!-- Numbered page links -->
             <?php foreach ($this->pagesInRange as $page): ?>
                 <?php if ($page != $this->current): ?>
                     <li>
                         <a onclick="pageChange('<?php echo $page; ?>','<?php echo $this->action ?>')" href="javascript:void(0)" >
                             <?php echo $page; ?>
                         </a>
                     </li>
                 <?php else: ?>
                     <li class="active">
                         <a href="#"><?php echo $page; ?></a>
                     </li>
                 <?php endif; ?>
             <?php endforeach; ?>

             <!-- Next page link -->
             <?php if (isset($this->next)): ?>
                 <li>
                     <a onclick="paginateNext('<?php echo $this->next; ?>','<?php echo $this->action ?>')" href="javascript:void(0)" >
                         >>
                     </a>
                 </li>
             <?php else: ?>
                 <li class="disabled">
                     <a href="#">
                         >>
                     </a>
                 </li>
             <?php endif; ?>
         </ul>
     </div>
 <?php endif; ?>
 
 <script type="text/javascript">
    function paginatePrev(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;        
        data['countperPage'] = '10';
        data['search'] = $('#search').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();       
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                {
                    $('#resultData').html(data);
                }
            });
    }
    
    function pageChange(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;
        data['countperPage'] = '10';
        data['search'] = $('#search').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();
        
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                {
                	$('#resultData').html(data);               
                }
            });
    }
    function paginateNext(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;
        data['countperPage'] = '10';
        data['search'] = $('#search').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();        
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                { 
                	$('#resultData').html(data);
                }
            });
    }
</script>