<style>
.card
{
	box-shadow: none;
	border-radius: 0;
	border-width: 0;
}
.bg-primary { background-color: #009de0!important; }
.table-bordered td, .table-bordered th { border-left: 0; }
#chart_div div
{
	display: flex;
	justify-content: center;
}
.card-header.bg-primary { background: #009de0!important; }
.card-title.subtitles
{
	color: #fff;
	font-size: 16px;
}
.card .table { margin-bottom: 0; }
</style>
<div class="col main-content content-dashboard pb-5">
  <div class="row bg-white border-bottom">
    <div class="col-12 page-title pt-2 pb-md-2 d-flex justify-content-start align-items-center">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row mt-3 section-stats">
    <div class="col-12 col-md pl-2 pr-2">
      <div class="card shadow border-0" style="background: #ab0d3e; color: #fff">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <div>
            <h5>Total Attendees</h5>
            <?php echo $result['totalAttende']?></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md pl-2 pr-2">
      <div class="card shadow border-0" style="background: #1b364f; color: #fff;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <div>
            <h5>Total Speakers</h5>
            <?php echo $result['totalSpeaker']?></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md pl-2 pr-2">
      <div class="card shadow border-0" style="background: #4cf2c0; color: #fff;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <div>
            <h5>Total Social Wall</h5>
            <?php echo $result['totalSocialWall']?></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md pl-2 pr-2">
      <div class="card shadow border-0" style="background: #69b0b8; color: #fff;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <div>
            <h5>Total Chat</h5>
            <?php echo $result['totalChat']?></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md pl-2 pr-2">
      <div class="card shadow border-0" style="background: #1b364f; color: #fff;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <div>
            <h5>Total Meetings</h5>
            <?php echo $result['totalMeeting']?></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none">
    <div class="col-12 col-md-6 pl-2 pr-2 mt-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="title">Login report</h5>
          <hr class="">
          <div id="donutchart" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pl-2 pr-2 mt-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="title">Attendees Report Type</h5>
          <hr>
          <div id="donutchart2" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Registration</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Weekly Registration</td>
              <td><?php echo $totalRegistrtion;?></td>
            </tr>
            <tr>
              <td>Day wise registration</td>
              <td><?php echo $todayDateRegistrtion;?></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Weekwise Registration</h5>
        </div>
        <div class="card-body">
          <div id="barchart_values" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Daywise Registration</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div4" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Registration by Country</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div5" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Registration by Industry Type</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div6" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Registration by Skills</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div7" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Registration by Designation</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div8" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Registration by Company</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div9" style="width:100%; height:260px;"></div>
        </div>
      </div>
    </div>
     <div class="col-12 col-md-4">
<!--      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Booths Summary</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Total Time Spends by user on Booth</td>
              <td>1 Hour 60 Minutes</td>
            </tr>
            <tr>
              <td>Total no of users vistied booth today</td>
              <td><?php //echo $totaluservisitedboothtoday;?></td>
            </tr>
            <tr>
              <td>Total number of users visited booth overall</td>
              <td><?php //echo $totaluservisitedbooth;?></td>
            </tr>
          </tbody>
        </table>
      </div>-->
<!--      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">User visited booth wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Booths content visited</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div10" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Top 10 docs videos and business card viewed</h5>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped  table-hover m-0">
              <tbody>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>-->
<!--       <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Attendees connected booth wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div4" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Login</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Total Login</td>
              <td><?php echo $totalLogin;?></td>
            </tr>
            <tr>
              <td>Today's Login</td>
              <td><?php echo $todayDateLogin;?></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Weekwise Login</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div16" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Daywise Login</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div17" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Time spent by attendees environment wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div3" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Country</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div18" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Skills</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div19" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Designation</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div20" style="width:100%; height:260px;"></div>
        </div>
      </div>
    </div>  
    
    <div class="col-12 col-md-4">
      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Booths Summary</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Total Time Spends by user on Booth</td>
              <td>1 Hour 60 Minutes</td>
            </tr>
            <tr>
              <td>Total no of users vistied booth today</td>
              <td><?php echo $totaluservisitedboothtoday;?></td>
            </tr>
            <tr>
              <td>Total number of users visited booth overall</td>
              <td><?php echo $totaluservisitedbooth;?></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">User visited booth wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Booths content visited</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div10" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Top 10 docs videos and business card viewed</h5>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped  table-hover m-0">
              <tbody>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-pdf-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
                <tr>
                  <td width="70%"><i class="fa fa-file-video-o"></i> Businesses Achieve Human Capital Connect with SAP (Journey of Maruti Suzuki,</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
       <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Attendees connected booth wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div4" style="width:100%; height:260px;"></div>
        </div>
      </div>
<!--      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Login</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Total Login</td>
              <td><?php echo $totalLogin;?></td>
            </tr>
            <tr>
              <td>Today's Login</td>
              <td><?php echo $todayDateLogin;?></td>
            </tr>
          </tbody>
        </table>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Weekwise Login</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div16" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Daywise Registration</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div17" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Time spent by attendees environment wise</h5>
        </div>
        <div class="card-body">
          <div id="chart_div3" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Country</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div18" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Skills</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div19" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
<!--      <div class="card card-chart mt-3">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Login by Designation</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div20" style="width:100%; height:260px;"></div>
        </div>
      </div>-->
    </div>
<!--    <div class="col-12 col-md-4">
      <div class="card mt-3 rounded-0">
        <div class="card-header text-white border-0 rounded-0 p-2" style="background-color:#1b364f;">
          <h5 class="card-title m-0">Sessions/Meetings Summary</h5>
        </div>
        <table class="table bg-white client_table table-hover" id="myTable2">
          <tbody>
            <tr>
              <td>Number of meetings took place</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Total number of users participated in all meetings</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Total number of users raised hands in all meetings</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Number of chat messages sent in cummulative meetings</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Longest, shortest & average duration of meeting</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">No of particpants in each meeting</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div14" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">No of hand raise in each meeting</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div12" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">No of chat messages sent in each meetings</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div13" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Meetings with respect to theme type</h5>
        </div>
        <div class="card-body">
          <div id="chart_div2" style="width:100%; height:260px;"></div>
        </div>
      </div>
      <div class="card mt-3 rounded-0">
        <div class="card-header bg-primary p-2 border-0 rounded-0">
          <h5 class="card-title subtitles m-0">Duration of each meeting</h5>
        </div>
        <div class="card-body">
          <div id="top_x_div15" style="width:100%; height:260px;"></div>
        </div>
      </div>
    </div>-->
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Users', 'Login'],
          ['Total Login',     <?php echo $result['totalLogin']?>],
          ['Total Not Login', <?php echo $result['notLogin']?>]
        ]);
       var options = {
		title: "",
		pieHole: 0.35,
		pieSliceBorderColor: "none",
     colors: ['#067ab5', '#3aa5dd'],
		legend: {
			position: "none"	
		},
//		pieSliceText: "none",
//		tooltip: {
//			trigger: "none"
//		}
	};

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
		
        chart.draw(data, options);
      }
    </script> 
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Attende', 'Stats'],
          ['VIP',<?php echo $result['VIP']?>],
          ['HR Practioners',<?php echo $result['HRPRAC']?>],
          ['Service Provider',<?php echo $result['SERVICEPRO']?>]
        ]);
        var options = {
		title: "",
		pieHole: 0.35,
		pieSliceBorderColor: "none",
     colors: ['#067ab5', '#3aa5dd', '#eaeaea' ],
		legend: {
			position: "none"	
		},
//		pieSliceText: "none",
//		tooltip: {
//			trigger: "none"
//		}
	};

        var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
		
        chart.draw(data, options);
      }
     </script> 
<script type="text/javascript">


// Hide submenus
//$('#body-row .collapse').collapse('hide'); 


// Collapse click
$('[data-toggle=sidebar-colapse]').click(function() {
    SidebarCollapse();
});

function SidebarCollapse () {
    $('.menu-collapsed').toggleClass('d-none');
    $('.sidebar-submenu').toggleClass('d-none');
    $('.submenu-icon').toggleClass('d-none');
    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
    
    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $('.sidebar-separator-title');
    if ( SeparatorTitle.hasClass('d-flex') ) {
        SeparatorTitle.removeClass('d-flex');
    } else {
        SeparatorTitle.addClass('d-flex');
    }
    
    // Collapse/Expand icon
    $('#collapse-icon').toggleClass('');
    $('#collapse-icon2').toggleClass('s');
}
$( document ).ready(function() {      
    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;


   if (isMobile) {
        $( document ).ready(function() {  
			$('.menu-collapsed').toggleClass('d-none');
			$('.sidebar-submenu').toggleClass('d-none');
			$('.submenu-icon').toggleClass('d-none');
			$('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
	 
		});
    }
 });
$(".show-graph small").click(function () {
	$(this).text(function(i, v){
	   return v === 'Show Graph' ? 'Hide Graph' : 'Show Graph'
	})
});



    </script> 
<script>      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          <?php foreach($userVisitedBoothWise as $value1){?>
          ['<?php echo $value1['boothName']?>', <?php echo $value1['boothCounter']?>],
          <?php }?>        
          
        ]);

        // Set chart options
        var options = {'title':'', legend: 'bottom', is3D: true, pieSliceText: 'value', width: '100%', height: '260'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }</script> 
<script>      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          
          ['Linkedin', 19],
          ['Skillsoft', 42],
          ['ZingHR', 1],
          ['SAPHR', 23],
          ['Approutes', 9],
          ['Infosys', 13]
        ]);

        // Set chart options
        var options = {'title':'', legend: 'bottom', is3D: true, pieSliceText: 'value', width: '100%', height: '260'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }</script> 
<script>      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          
          ['Linkedin', 19],
          ['Skillsoft', 42],
          ['ZingHR', 1],
          ['SAPHR', 23],
          ['Approutes', 9],
          ['Infosys', 13]
        ]);

        // Set chart options
        var options = {'title':'', legend: 'bottom', is3D: true, pieSliceText: 'value', width: '100%', height: '260'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
        chart.draw(data, options);
      }</script> 
 <script>      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          <?php foreach($attendesConnectedBoothWise as $value2){?>
          ['<?php echo $value2['boothName']?>', <?php echo $value2['boothCounter']?>],
          <?php }?>        
          
        ]);

        // Set chart options
        var options = {'title':'', legend: 'bottom', is3D: true, pieSliceText: 'value', width: '100%', height: '260'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
        chart.draw(data, options);
      }</script> 
<script type="text/javascript">
   google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Day", "Percentage", { role: "style" } ],
        <?php foreach($weekData as $valu3){ ?>
        ["<?php echo $valu3['weekName']?>", <?php echo $valu3['totalCounter']?>, '<?php echo $valu3['color']?>'],
        <?php }?>        
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script> 
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Weeks', 'Percentage', { role: 'style' }],
          ["First Week", 44, 'red'],
          ["Second Week", 31, 'green'],
          ["Third Week", 12, 'blue'],
          ["Fourth Week", 10, 'black'],
          ['Fifth Week', 3, 'yellow']
        ]);

       var options = {
          title: '',
          width: '100%',
          legend: { position: 'none' },
          chart: { title: '' },
          bars: 'vertical', // Required for Material Bar Charts.
          axes: {
            y: {
              0: { side: 'left', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "80%" }
        };


        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
		
        chart.draw(data, options);
      };
    </script> 
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Weeks', 'Percentage'],
          ["First Week", 44],
          ["Second Week", 31],
          ["Third Week", 12],
          ["Fourth Week", 10],
          ['Fifth Week', 3]
        ]);

        var options = {
          title: '',
          width: '100%',
          legend: { position: 'none' },
          chart: { title: '' },
          bars: 'vertical', // Required for Material Bar Charts.
          axes: {
            y: {
              0: { side: 'left', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "80%" }
        };


        var chart = new google.charts.Bar(document.getElementById('top_x_div2'));
		
        chart.draw(data, options);
      };
    </script> 
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Weeks', 'Percentage'],
          ["First Week", 44],
          ["Second Week", 31],
          ["Third Week", 12],
          ["Fourth Week", 10],
          ['Fifth Week', 3]
        ]);

        var options = {
          title: '',
          width: '100%',
          legend: { position: 'none' },
          chart: { title: '' },
          bars: 'vertical', // Required for Material Bar Charts.
          axes: {
            y: {
              0: { side: 'left', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "80%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div3'));
		
        chart.draw(data, options);
      };

    </script> 
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Day", "Percentage", { role: "style" } ],
        ["First Week", 44, '#dc3912'],
          ["Second Week", 31, '#ff9900'],
          ["Third Week", 12, '#109618'],
          ["Fourth Week", 10, '#990099'],
          ['Fifth Week', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div4"));
      chart.draw(view, options);
  }
  </script> 
<script type="text/javascript">
 google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Country", "Registration", { role: "style" } ],
        ["India", 44, '#dc3912'],
          ["United States", 31, '#ff9900'],
          ["United Kingdom", 12, '#109618'],
          ["Ireland", 10, '#990099'],
          ['Australia', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div5"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">

google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Industry", "Registration", { role: "style" } ],
        ["Manufacturing", 44, '#dc3912'],
          ["Automotive", 31, '#ff9900'],
          ["Electronics", 12, '#109618'],
          ["Aerospace", 10, '#990099'],
          ['Defence', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div6"));
      chart.draw(view, options);
  }



     
    </script> 
<script type="text/javascript">
     google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Skills", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["Sales", 31, '#ff9900'],
          ["Marketing", 12, '#109618'],
          ["Designing", 10, '#990099'],
          ['Development', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div7"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div8"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Company", "Registration", { role: "style" } ],
        ["TechHR", 44, '#dc3912'],
          ["ZingHR", 31, '#ff9900'],
          ["Approutes", 12, '#109618'],
          ["EvenTap", 10, '#990099'],
          ['LinkedIn', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div9"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Content", "Count", { role: "style" } ],
        ["Documents", 44, '#dc3912'],
          ["Videos", 31, '#ff9900'],
          ["Business Card", 12, '#109618'],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div10"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
     google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Content", "Count", { role: "style" } ],
        ["Documents", 44, '#dc3912'],
          ["Videos", 31, '#ff9900'],
          ["Business Card", 12, '#109618'],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div11"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
       google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div12"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div13"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
       google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div14"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
         google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div15"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Week", "Percentage", { role: "style" } ],
        <?php foreach($loginWeekData as $value5){?>
        ["<?php echo $value5['weekName']?>", <?php echo $value5['totalCounter']?>, '<?php echo $value5['color']?>'],
        <?php }?>                  
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div16"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
     google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Day", "Percentage", { role: "style" } ],
        ["First Week", 44, '#dc3912'],
          ["Second Week", 31, '#ff9900'],
          ["Third Week", 12, '#109618'],
          ["Fourth Week", 10, '#990099'],
          ['Fifth Week', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div17"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
 google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Country", "Registration", { role: "style" } ],
        ["India", 44, '#dc3912'],
          ["United States", 31, '#ff9900'],
          ["United Kingdom", 12, '#109618'],
          ["Ireland", 10, '#990099'],
          ['Australia', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div18"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Skills", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["Sales", 31, '#ff9900'],
          ["Marketing", 12, '#109618'],
          ["Designing", 10, '#990099'],
          ['Development', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div19"));
      chart.draw(view, options);
  }
    </script> 
<script type="text/javascript">
       google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Designation", "Registration", { role: "style" } ],
        ["HR", 44, '#dc3912'],
          ["CEO", 31, '#ff9900'],
          ["Directors", 12, '#109618'],
          ["Managers", 10, '#990099'],
          ['CTO', 3, '#3366cc']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "",
        width: '100%',
        height: 'auto',
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("top_x_div20"));
      chart.draw(view, options);
  }
    </script>