<html>
<head>
	<title>evenTap</title>
	<style type="text/css">
		* {
			font-family: Arial, sans-serif;
		}
	</style>
</head>
<body>
	<table width="620" cellspacing="0" cellpadding="0" border="0" align="center" style="border: 1px solid #ccc;">
		<tr>
			<td>
				<img src="https://riyalstory.s3-eu-west-1.amazonaws.com/logo/Picture1.jpg" style="width: 100%;display: block;">
			</td>
		</tr>
		<tr>
			<td style="padding: 20px;">
				<p>Hi <?php echo $userDetail['firstName']?>,</p>
				<p>We are almost there! Ahead of the People Matters L&D Conference this week, please don’t forget to …</p>
				<p>Download People Matters L&D Conference Mobile App Click here for iOS & for Android.</p>
				<p>We look forward to seeing you at the conference.</p>
				<p>Best Regards,</p>
				<p>evenTap Team.</p>
			</td>
		</tr>
		<tr>
		    <td bgcolor="#303030">
		        <table width="100%" cellspacing="0" cellpadding="0" border="0">
		            <tbody>
		                <tr>
		                    <td height="3"></td>
		                </tr>
		                <tr>
		                    <td>
		                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
		                            <tbody>
		                                <tr>
		                                    <td width="10"></td>
		                                    <td width="540">
		                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
		                                            <tbody>
		                                                <tr>
		                                                    <td height="3"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="height:1px;background-color:#000000" height="1" bgcolor="#000000"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="height:1px;background-color:#555555" height="1" bgcolor="#555555"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td height="3"></td>
		                                                </tr>
		                                                <tr>
		                                                	<td style="text-align:center;font-family:Arial,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;color:#999999">
		                                                		This message contains confidential information and is intended only for the individual named.
		                                                		If you are not the named addressee, you should not disseminate, distribute or copy this email.
		                                                	</td>
		                                                </tr>
		                                                <tr>
		                                                    <td height="3"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="text-align:center;font-family:Arial,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;color:#999999" align="center"><br>Copyright © 2020. <span class="il">evenTap</span> . All rights reserved. <br> <br> Where to find us: <br> IS - 1701, 17th Tower, 1st Floor, UTC Urbtech, Plot No b - 35, Sec 132<br> Noida 201301 <br> <br></td>
		                                                </tr>
		                                                <tr>
		                                                    <td height="3"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="height:1px;background-color:#000000" height="1" bgcolor="#000000"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="height:1px;background-color:#555555" height="1" bgcolor="#555555"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td height="3"></td>
		                                                </tr>
		                                                <tr>
		                                                    <td style="font-family:Arial,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;color:#999999" align="center"></td>
		                                                </tr>
		                                            </tbody>
		                                        </table>
		                                    </td>
		                                    <td width="10"></td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </td>
		                </tr>
		                <tr>
		                    <td height="5"></td>
		                </tr>
		            </tbody>
		        </table>
		    </td>
		</tr>
	</table>
</body>
</html>